[2019-12-20 17:57] basepi commented on #681
That may well be the case. The middleware gives us hooks into requests, I'm not sure that it goes further than that. @beniwohli may know better than I.

[2019-12-20 18:13] champ commented on #678
@basepi great to hear you're working on messaging integration!

I've been trying out some instrumenting of pika taking into account the discussions/goals in these issues:

- [APM - "[APM] Messaging Frameworks in distributed tracing view"](https://github.com/elastic/apm/issues/169)
- [APM - "Add messaging fields to schema"](https://github.com/elastic/apm/issues/143)
- [Kibana - "[APM] Add `message`

[2020-01-06 17:49] basepi commented on #678
This is something I ran into while [instrumenting tornado](https://github.com/elastic/apm-agent-python/pull/661/files). Because Tornado doesn't have any API for middleware, I had to treat it as an instrumentation, rather than an integration (like Django or Flask). This means I need the ability to create transactions, as the `call()` function is only called when there's an active, sampling transact

[2020-01-06 21:29] JeckyTian opened #683 "Opentracing contrib: `DroppedSpan has no attribute transaction`"
**Describe the bug**: ...
When using Elastic APM with Opentracing, the program crashes on `AttributeError: DroppedSpan object has no attribute transaction` exception if `span.finish()` is called.
 It turns out to be this line:
https://github.com/elastic/apm-agent-python/blob/74cd1fa56f15a3149b367bd65ea4721a6fd95615/elasticapm/contrib/opentracing/span.py#L129
It will access `transaction` attribute

[2020-01-07 13:28] beniwohli commented on #683
Great find @JeckyTian! I'll open a PR with a fix.

[2020-01-07 15:52] JeckyTian commented on #683
@beniwohli  Thanks,   is there an expectation which release has this fix?

[2020-01-07 18:12] HarmitMinhas96 commented on #683
Similarly this occurs: `"AttributeError: 'DroppedSpan' object has no attribute 'name'`

[2020-01-08 14:46] beniwohli opened #685 "Document Celery integration"
We should document the automatic integration of Celery when using Django or Flask, as well as document how to manually instrument Celery when it is used in standalone mode.

[2020-01-09 10:56] kicmultimedia opened #686 "Add support for FastAPI"
Currently, it seems FastAPI is unsupported. Would be great to add the Python Framework to the list of those supported.

Am I correct in assuming we could write our own middleware for this Framework using this library?

[2020-01-10 16:32] basepi commented on #686
Yes, you could. It would be very similar to [this blog post](https://www.elastic.co/blog/creating-custom-framework-integrations-with-the-elastic-apm-python-agent), I think. You can also look at our [aiohttp]() support for an example.

Note that FastAPI and Starlette will probably be on our roadmap, as they are definitely picking up popularity. We just don't have an ETA.

[2020-01-13 15:19] esseti opened #688 "HOSTNAME value ignored and socket.gethostname() sent"
I've trouble in configuring the HOSTNAME, If I set it in the django settings or in the enviorment nothing changes. the `socket.gethostname()` is always the value sent.

**To Reproduce**
- setup project with APM
- add
[code]

**Expected behavior**:
To see `myhostname` in the host list in kibana

**Environment (please complete the following information)**
- OS: Linux/Mac
- Python version: 3.7
- Fram

[2020-01-13 15:42] esseti commented on #688
By looking into the code, my guess is that this line: https://github.com/elastic/apm-agent-python/blob/master/elasticapm/base.py#L320

should be
`"hostname": keyword_field(self.config.hostname),`

in the config, the hostname is set as ` hostname = _ConfigValue("HOSTNAME", default=socket.gethostname())` so that the line above is cutting the string to the max length and that's it.

[2020-01-13 15:54] beniwohli commented on #688
@esseti great catch! I'll open a PR with your suggested fix and a test in a minute

[2020-01-13 20:59] #683 closed

[2020-01-14 02:45] basepi commented on #681
Alright, I chatted with @beniwohli and have a better idea of what the situation is here:

Currently, we only [listen to the `got_request_exception` signal](https://github.com/elastic/apm-agent-python/blob/master/elasticapm/contrib/django/apps.py#L103-L105), which means we only capture errors that happen during requests.

We have [an open PR](https://github.com/elastic/apm-agent-python/pull/644) wh

[2020-01-14 08:23] #688 closed

[2020-01-14 09:47] beniwohli commented on #683
@JeckyTian we just published 5.3.3 of the agent which includes this bug fix. Thanks again for reporting!

[2020-01-14 14:08] wodCZ commented on #624
I can confirm that disabling preloading in gunicorn fixes the issue - transactions are now properly saved.

We're using this docker CMD with no configuration file:
[code]

I also had to switch the transaction type to `request` in the APM UI:
![image](https://user-images.githubusercontent.com/1174421/72350938-a742c800-36df-11ea-9667-7c9143438130.png)

[2020-01-15 11:13] vclaudic opened #691 "Django Project integration"
Hi,

First of all, please receive my best wishes for these new Year and decade for you and your relatives ! :-)

Yet, let's talk about my mistake. I've started, few weeks ago, a new Django project based on Django 2.2.9, Python 3.7.6, PostgreSQL 12.1, Apache 2.4.41, mod_wsgi 4.7 and the Django modules elasticsearch 7.1, elasticsearch-dsl 7.1 and elastic_apm 5.3.3.

With "'elasticapm.contrib.django'

[2020-01-16 09:43] beniwohli commented on #691
Hi @vclaudic

thanks for the extensive bug report! Do you see the same stack traces when running under `mod_wsgi` and with `runserver`? If it's only with `mod_wsgi`, you could try and add

    WSGIApplicationGroup %{GLOBAL}

to your `mod_wsgi` configuration. From the mod_wsgi docs:

[2020-01-16 10:23] vclaudic commented on #691
Hi Benjamin,

Thank you for your answer. Here are my answer in regard:

-> When running with runserver, here is what’s happen when trying to log in the admin GUI:

———
…
[/ecq/run/repositories/calliope]# python3 manage.py runserver
Performing system checks...

System check identified no issues (0 silenced).
January 16, 2020 - 11:05:20
Django version 2.2.9, using settings 'calliope.settings'
Starti

[2020-01-16 13:02] beniwohli commented on #691
Thanks @vclaudic, this helps a lot. I think I'm starting to see what is happening here. Looking at the stack traces, it seems like there is an infinite recursion going on (notice how the frames start to repeat after a while). Normally, Python should raise a `RecursionError` at some point, but apparently doesn't always do that, depending on circumstances I haven't quite understood yet (see e.g. htt

[2020-01-16 13:34] vclaudic commented on #691
Hi Benjamin,

Clap ! clap ! I'm really impressed !

I've tested your workaround and I may say that from both points of view, i.e. Apache and runserver, it works fine ! I've changed my setting according your advice and replace  "all" with "errors" and yet the admin login doesn't crash both Apache and runserver.

I really thank you verrrrrrrrrry much for your support, feedback and reactivity ! ;-)

[2020-01-16 14:09] beniwohli commented on #182
As reported in https://github.com/elastic/apm-agent-python/issues/691, if local variable collection is enabled for transactions, evaluating a Django queryset can lead to an infinite recursion.

[2020-01-16 14:11] beniwohli commented on #691
@vclaudic that's great news, thanks for reporting back! We already have an issue to improve upon the `transform` function (https://github.com/elastic/apm-agent-python/issues/182), so I'll go ahead and close this one :)

[2020-01-16 14:11] #691 closed

[2020-01-19 17:46] violetina commented on #685
Any ETA for this ? I fail to enable this. We use structlog with rabbitmq handler. With logstash as shipper. The celery worker uses boto3, requests, amp and elasticsearch.  ES as results backend too. We don't use django . Some APIs using flask with apm enabled. Just the celery task instrumentation is what is missing..

[2020-01-21 04:21] zzzzzzmj opened #695 "database trace show twice"
maybe this is not a bug
kibana show every database trace will show twice
![image](https://user-images.githubusercontent.com/35414361/72774905-5a16a700-3c47-11ea-878c-3b05a671ec4f.png)

but in 4.2.2 version,  it show this
![image](https://user-images.githubusercontent.com/35414361/72774972-964a0780-3c47-11ea-9d0d-19269d9259f2.png)

i think its related to span? in 4.2.2 agent won't upload span log,

[2020-01-21 17:06] Sparkycz commented on #686
Hey guys, we have the same need therefore I dug into it and wrote the middleware. Check it out please.

[2020-01-21 17:12] basepi commented on #686
Awesome! I was planning to start working on that today so your timing couldn't be better! I'll review it today.

[2020-01-21 17:16] basepi commented on #695
It definitely seems as though the spans are being captured twice. Do you perhaps have any custom instrumentations in place? Or any manual `capture_span` calls? It's possible that in 5.3.3 we have automatic instrumentation in place that is causing duplicates with any custom/manual spans you're capturing (due to a lack of support in 4.2.2, perhaps).

[2020-01-21 19:29] kourosh-azizi opened #696 "Python Flask APM cannot disable metrics"
**Describe the bug**: ...

I have the following Python Flask APM configuration in my web app:

[code]

I tried to disable the CPU and Memory metrics because I'm not interested to monitor them anymore, and they are just populating my storage and making my queries slow.

I applied the `DISABLE_METRICS` field, but it didn't stop the process, and data was still being sent.

I also tried to set `METRIC

[2020-01-22 04:15] zzzzzzmj commented on #695
we use `capture_span` to  show the `rest_framework.serializers.Serializer.to_representatio` and `celery.Task.apply_asyn` , but  they all only show once ，when i delete the `capture_span` code , the database track also twice. And  use `elasticapm.set_user_context()` to trace user authenticate  (database trace)， other is the default configuration.

capture_span code  like this
[code]

[2020-01-22 18:47] basepi commented on #695
Can you please provide a `pip list` for us so we can see what you have installed? This will help us narrow down the source of the extra spans.

I assume that only `elastic-apm` was upgraded? The rest of the dependencies are the same?

[2020-01-22 19:43] Kalanamith commented on #450
Issue still existst
[code]

[2020-01-23 16:21] zzzzzzmj commented on #695
pipenv graph
[code]

[2020-01-23 17:29] basepi commented on #695
Nothing super obvious there.

I had another thought. Can you show me the stack trace frames for two of the duplicate spans? Like this:

![span](https://user-images.githubusercontent.com/702318/73008148-2c5a6b00-3dcb-11ea-982b-c49c97c6f8be.gif)

[2020-01-23 19:10] #686 closed

[2020-01-24 02:01] zzzzzzmj commented on #695
an example, the duplicate spans all like this

![image](https://user-images.githubusercontent.com/35414361/73039129-e5827900-3e8f-11ea-90af-1b4801be8e0f.png)

![image](https://user-images.githubusercontent.com/35414361/73039170-077bfb80-3e90-11ea-8018-2bb4b94e3915.png)

[2020-01-24 23:37] basepi commented on #695
Unfortunately your screenshots only show one of the spans -- what I'd like to do is compare the frames of two duplicate spans, see if I can spot why it's being instrumented twice. Can you add the duplicate to the span shown above?

[2020-01-25 12:35] zzzzzzmj commented on #695
a new api from local server
![screencapture-span1](https://user-images.githubusercontent.com/35414361/73120660-004a1000-3fac-11ea-8e9e-277b66bd252d.png)

this is the deplicate spans
![screencapture-span2](https://user-images.githubusercontent.com/35414361/73120661-00e2a680-3fac-11ea-9aa1-27d944f5d24a.png)

[2020-01-27 12:26] amalpadmanabhan opened #702 "Error while application is shutdown and long delay"
Pip freeze version for elastic-apm
elastic-apm==5.3.3

Using Flask Elastic APM to monitor an application that is loaded using UWSGI.

While stopping the application I am getting the error,

Traceback (most recent call last):
  File "*lib/python3.6/site-packages/elasticapm/utils/compat.py", line 65, in uwsgi_atexit
    func()
  File "*lib/python3.6/site-packages/elasticapm/base.py", line 293, in cl

[2020-01-27 15:30] beniwohli commented on #702
Hi @amalpadmanabhan

What seems to happen here is that we're unable to flush the APM data to the apm-server in time when uwsgi is exiting. The default timeout for this is 10 seconds, which explains why uwsgi reports 11 seconds.

How busy are your apm-server(s)? When uwsgi is exiting, all running instances flush the data at the same time, which might lead to a peak in resources needed by apm-server

[2020-01-28 09:57] starenka opened #704 "Celery workers hangs while being restarted"
Hi folks, I have problem with celery (4.3.0) workers within django (1.11.20) project. I'm unable to restart them via supervisor (3.3.1-1+deb9u1). Here's one of the workers conf in supervisor for illustration....

[code]

I get this trace in sentry when trying to restart the workers (or killing them with `-9` - I'm not sure which one triggers it)

[code]

Without `elasticapm.contrib.django` in `INS

[2020-01-28 15:03] ciarancourtney opened #706 "Add instrumentation for pymemcache (memcache)"
Recently released v3.0 https://github.com/pinterest/pymemcache

Similar to python-memcached in that its pure python, but with more features and, apparently, better perf.

[2020-01-28 15:05] basepi commented on #696
A workaround was recommended [on the discuss thread](https://discuss.elastic.co/t/how-to-reduce-apm-transactions-and-metrics/215206/11?u=basepi) by @beniwohli:

We still haven't found the "correct" solution but will update here when we do.

[2020-01-29 09:07] beniwohli commented on #695
Hi @zzzzzzmj

As @basepi says, this kind of looks like we instrument things twice. That shouldn't happen, as we check before instrumenting. But there could be bugs with those checks of course.

If possible, could you add this code in a view somewhere and see if the assertion fails? Of course only on a test system :)

    from urllib.request import AbstractHTTPHandler
    assert not hasattr(Abstrac

[2020-01-29 11:16] zzzzzzmj commented on #695
I add the code in a view and the request is also 200.

[2020-01-29 16:55] basepi commented on #706
Thanks for the request!

[2020-01-31 11:26] beniwohli commented on #695
Hi @zzzzzzmj

I implemented a possible workaround in #708. You can give that a try by installing it like this:

    pip install https://github.com/beniwohli/apm-agent-python/archive/avoid-double-instrumentation.zip\#egg\=elastic-apm\=\=100

Can you try that out on your test machine and see if it fixes the duplicate spans?

[2020-01-31 12:55] zzzzzzmj commented on #695
@beniwohli  i install the patch and try again，now only once.

[2020-01-31 15:00] beniwohli commented on #695
@zzzzzzmj that's great news, as it confirms that the issue is really due to instrumenting twice. I'm still not quite sure how and why this happens, as we have protections against it, and use threading locks during instrumenting itself.

I'll investigate a bit further to see if I can get to the root cause, before merging #708

[2020-01-31 20:05] ifmusic opened #709 "Make parameters of a SQL query visible as a config option"
I know that SQL spans params are obfuscated by design as a security measure but I think it'd be great if you could add a flag to send these params in raw format.

https://discuss.elastic.co/t/make-parameters-of-a-sql-query-visible-as-a-config-option/217025
https://discuss.elastic.co/t/how-to-print-query-parameters-also-along-with-the-query/194016

I think there should be some flag in the agent con

[2020-01-31 20:59] beniwohli commented on #709
Hi @ifmusic

It's an interesting idea! We'd probably want to introduce it across all our APM agents, I'll bring it up with the team.

Just a minor clarification for posterity's sake: the fact that params are currently masked is something we basically get for free. Most libraries that create queries (SQLAlchemy, Django ORM etc) use either prepared statements or parametrized queries. If you would ru

[2020-02-01 02:19] zzzzzzmj commented on #695
@beniwohli Thanks! Waiting the release

[2020-02-01 08:48] meysam81 opened #710 "No module named 'elasticapm.contrib.aiohttp'"
When I install the package using `pip install elastic-apm`, the `aiohttp` module is not found in the library. I tried installing via cloning the repository and using `pip install .` on the project's root directory and the `aiohttp` module was there. My best guess is that the [PyPi](https://pypi.org/project/elastic-apm/) of the project is not up-to-date. But then again I may be wrong and I may have

[2020-02-03 09:05] beniwohli commented on #710
Hi @meysam81

support for aiohttp hasn't been quite released yet. You can try it out by installing the agent from the master branch

    pip install https://github.com/elastic/apm-agent-python/archive/master.zip\#egg\=elastic-apm\=\=100

I would love to hear your feedback how it works for you!

[2020-02-03 14:38] #662 closed

[2020-02-03 23:37] basepi commented on #704
I think the hang on restart, while problematic, is secondary to the fact that even on a normal start, you're not seeing APM data from celery.

@beniwohli do you see any red flags? I haven't actually worked with our celery instrumentation yet, so I wanted to check before I did any deep diving.

[2020-02-04 16:45] basepi commented on #710
@meysam81 I'm going to close this issue for now. But we'd love to hear any feedback you have if you try on the master branch or on our next feature release! Have a great day!

[2020-02-04 16:45] #710 closed

[2020-02-04 18:44] nerusnayleinad opened #712 "Distributed Tracing with APM server; with Python"
I've been doing POC tests on different Tracing technologies (Jaeger, Zipkin, Stackdriver trace, Istio (still Jaeger or Zipkin. Different concepts though)), and now I am with Elasticsearch APM module, and I see it is more or less the same concept. You start counting a trace when you start a request, and end it when you get a response.

I've generated some traces, and am able to see them on Kibana,

[2020-02-04 19:10] basepi commented on #712
The agent actually doesn't do anything with context that you set -- [`set_custom_context`](https://www.elastic.co/guide/en/apm/agent/python/current/api.html#api-set-custom-context) just allows you to add your own contextual information about a transaction, for later searching or aggregation or just for your information when inspecting a transaction in kibana.

For distributed tracing, the standard

[2020-02-04 23:18] basepi commented on #521
For completeness, I added [an update](https://github.com/elastic/apm-agent-python/pull/522#issuecomment-582162814) to the PR at #522

[2020-02-05 06:57] meysam81 commented on #710
didn't workout well apparently
[code]

although I did try it manually and that worked out well.

[2020-02-05 08:08] beniwohli commented on #710
@meysam81 that `WARNING` can be ignored. Setting the desired version to `100` in the `pip install` command is a bit of a hack to ensure that it'll always replace the currently installed version. The package has been installed correctly, judging from the other output you shared.

[2020-02-05 08:14] meysam81 commented on #710
but it's not an unimportant warning, it's saying that the requested version (elastic-apm==100) is not installed and rather the 5.3.3 version is installed (look at the end of warning line)

[2020-02-05 08:19] beniwohli commented on #710
Can you try this instead, then?

    pip uninstall elastic-apm
    pip install https://github.com/elastic/apm-agent-python/archive/master.zip\#egg\=elastic-apm

It'll still say the version is 5.3.3, as that's what current master is set to:

https://github.com/elastic/apm-agent-python/blob/f007f22b44d051d197aa7b54de8fc9e6deec3e4b/elasticapm/version.py#L31-L32

We probably should consider adding a `

[2020-02-05 08:44] meysam81 commented on #710
@beniwohli
OK thanks, we're all set.

[2020-02-05 12:04] nerusnayleinad commented on #712
Thank you.

I tried for frameworks as well, but here was trying the one without.

I ran again the test. It consists of a service that makes a GET requests to two different endpoints, these two services make another GET request to another service that returns 'hello world'. Something like this:

![svces](https://user-images.githubusercontent.com/19745725/73839424-3e4dfc00-4816-11ea-8812-c6d8a4536df

[2020-02-05 13:39] harshanarayana commented on #521
@basepi  That is wonderful news. Let me resurrect my work on this PR and get this on in.

[2020-02-05 14:18] beniwohli commented on #712
@nerusnayleinad can you try to use different service names for the three (or four, not sure what the difference between 2a and 2b is)? Also, I suggest to use the same transaction type `request` for all services. Transaction types aren't meant to distinguish between services, but between different types of transactions (requests served by a web app, background tasks executed by something like celer

[2020-02-05 14:58] nerusnayleinad commented on #712
there are no differences between 2a and 2b. These are just mock services, that receive a request, give it some delay and make another.

With different service names, I get all the requests in separate services. the view is the same as before when accessing each service.

With same service name for all and same transaction type, the last one overwrites all traces, so I only see the last request.

[2020-02-05 16:16] basepi commented on #712
Can you give us code snippets for how you're instrumenting each service manually? For example, if you didn't call `elasticapm.instrument()` on service 2a and 2b, then we wouldn't instrument and add the headers properly to the outgoing request to service 3.

Additionally, what library is making the call from 2a/2b to 3? We need to make sure it's in the [supported list.](https://www.elastic.co/guide

[2020-02-05 16:51] nerusnayleinad commented on #712
@basepi sure. These are the scripts of all 4 services:

**service 1:** (this is the same service you advised to use, from the examples.)

[code]

**service 2a:**

[code]

**service 2b:**

[code]

**service 3:**

[code]

I think I have to do something with that `session` object I create in the service 1.

[2020-02-05 21:54] kazizi1 commented on #696
Thanks, I tried the above workaround, and it works!

[2020-02-05 23:42] basepi commented on #712
Alright, I see the disconnect. I have a working example, modified from your example above, in [this gist](https://gist.github.com/basepi/23f9871482479feb12d404359860830f)

The problem was that you didn't quite have the instrumentation for service 2a/b and 3 correct. When you were looking at the trace, all you were seeing were the transaction and two spans (for the two network calls) from service 1

[2020-02-06 09:40] nerusnayleinad commented on #712
Oh. Yes, much better.

So `elasticapm.capture_span()` is the guy to keep the context up to date.

Thank you very much.

[2020-02-06 10:05] #695 closed

[2020-02-06 14:39] nerusnayleinad commented on #712
To get this complete, do you have any examples on how to do this without any framework? with pure python?

[2020-02-06 17:47] basepi commented on #712
Spans are sub-pieces of transactions. The reason I used `capture_span` in my example is that there will already be an active transaction, since our Flask integration creates a new transaction for every incoming request.

It would look similar to your original example, except that you need to create a TraceParent object. I linked to [the flask code](https://github.com/elastic/apm-agent-python/blob/

[2020-02-07 18:49] Palisand opened #713 "Django 3.0 Support"
According to [this](https://www.elastic.co/guide/en/apm/agent/python/current/supported-technologies.html#supported-django), `elastic-apm` supports up to Django 2.2.

Has anyone tested this with Django 3.0?
Is there an ETA on when Django 3.0 will be officially supported (e.g. on the next release)?

[2020-02-07 19:20] beniwohli commented on #713
Hi @Palisand

We will release version 5.4 soon, which adds official support for Django 3.0. But as far as I remember, we didn't have to implement and Django 3.0 specific fixes. It should just work with the current version.

[2020-02-07 19:23] Palisand commented on #713
Thanks @beniwohli. I'll leave this issue open until official support is released.

[2020-02-14 10:07] starenka opened #717 "dictionary changed size during iteration"
I get this error pretty often in `TransactionsMetricSet`:

[code]

**Environment (please complete the following information)**
- OS: Debian stable
- Python version: 2.7.13
- Framework and version [e.g. Django 2.1]: 1.11.20
- APM Server version: 7.6.0
- Agent version: 5.3.3

[2020-02-14 10:23] beniwohli commented on #717
@starenka that's interesting. It probably happens because while we iterate over the metrics in the background thread, the foreground thread (the one that is handling Django requests) is adding new metrics data.

There are two ways to fix this: we could either take the lock before iterating, or turns the items iterator into a list before iterating over it.

Taking a lock would probably the cleanest

[2020-02-14 17:23] basepi commented on #717
I guess I could go either way. I'm loathe to block the main thread -- I feel like I'd rather (briefly) lose a little memory during the operation. But I don't think either option is particularly bad.

[2020-02-15 01:02] bartier commented on #671
@beniwohli Hi! I'm new here.

Is this already implemented? I'm not sure.
https://github.com/elastic/apm-agent-python/blob/151f2ef8e7d15e7a21829d9cb72dec8bfeb887e5/elasticapm/transport/http_base.py#L92-L98

[2020-02-17 10:03] kuisathaverat opened #718 "psycopg2 tests are failing in CI"
Today a bunch of psycopg and psycopg2 start failing, There are no changes since The lastest successful build so I am not sure what it is the cause, I check psycopg2 just in case there is a new version but is not.

[code]

[2020-02-17 10:59] kuisathaverat commented on #718
Postgress exists with the following error

[code]

[2020-02-17 11:08] kuisathaverat commented on #718
There is a new version of the PostgresQL Docker image from Saturday so this is the change.

[2020-02-17 13:39] #718 closed

[2020-02-18 10:46] beniwohli commented on #702
@amalpadmanabhan we just released a new version of the agent that should fix this issue, can you try to install 5.4.1 and see if the problem goes away?

I'll close this issue for now, please re-open it if you still encounter the bug.

[2020-02-18 10:46] #702 closed

[2020-02-18 10:47] beniwohli commented on #624
We just released a new version of the agent that should fix this issue, can y'all try to install 5.4.1 and see if the problem goes away, even with preloading?

I'll close this issue for now, please re-open it if you still encounter the bug.

[2020-02-18 10:47] #624 closed

[2020-02-18 10:48] beniwohli commented on #442
@mkloveyy we just released a new version of the agent that should fix this issue, can you try to install 5.4.1 and see if the problem goes away?

I'll close this issue for now, please re-open it if you still encounter the bug.

[2020-02-18 10:49] beniwohli commented on #441
We just released a new version of the agent that should fix this issue, can you try to install 5.4.1 and see if the problem goes away?

I'll close this issue for now, please re-open it if you still encounter the bug.

[2020-02-18 10:49] #441 closed

[2020-02-18 10:50] beniwohli commented on #704
@starenka  we just released a new version of the agent that should fix this issue, can you try to install 5.4.1 and see if the problem goes away?

I'll close this issue for now, please re-open it if you still encounter the bug.

[2020-02-18 10:51] beniwohli commented on #713
@Palisand a new version of the agent has now been released.

Note that we didn't investigate ASGI yet, so there might be issues if you run your Django app in ASGI mode.

[2020-02-18 10:51] #713 closed

[2020-02-18 11:13] starenka commented on #704
Hi @beniwohli, what issue do you mean? The hangs or the kinda not working env variables? I fixed it meanwhile by making extra django settingsm, where apm app is not in `INSTALLED_APPS`...

[2020-02-18 11:37] jstockwin commented on #441
I am having the same problem as above (not fixed by installing `uwsgidecorators` or by `lazy-apps=true`), which I put down to this issue.

I've just redeployed using `elastic-apm==5.4.1` (I'm `django==1.11.28` and still have `lazy-apps=true`, `enable-threads = true`, and `single-interpreter = true`), but still have the same issue.

I can see only the first few requests to my health-check endpoint

[2020-02-18 12:07] starenka commented on #704
PS. I'm unable to reopen the issue...

[2020-02-18 15:46] jaap3 opened #723 "'AsyncTransport' has no attribute '_start_event_processor'"
**Describe the bug**: ...

After upgrading to `elastic-apm==5.4.1` I now get an error when Celery starts:

[code]

**Environment (please complete the following information)**
- OS: Linux-3.10.0-1062.9.1.el7.x86_64-x86_64-with-centos-7.7.1908-Core 2020-02-18 16:24:31
- Python version: Python 3.6.8
- Framework and version:
  celery 4.4.0
  Django 3.0.3
- APM Server version: ?
- Agent version: 5.4.1

[2020-02-18 15:47] beniwohli commented on #723
@jaap3 thanks for opening the issue! We are already working on a fix, hopefully to be released later today.

Sorry for the inconvenience!

[2020-02-18 15:49] jaap3 commented on #723
OK, it's almost the end of my workday. So I'll downgrade to 5.4.0 for now just to make sure

[2020-02-18 16:18] #723 closed

[2020-02-19 08:24] beniwohli commented on #723
@jaap3 5.4.2 is on PyPI and should fix this particular issue.

[2020-02-19 08:50] jaap3 commented on #723
Thanks, I'll update :)

[2020-02-19 09:05] beniwohli commented on #704
@starenka sorry about that! We released 5.4.2, which should solve the `'AsyncTransport' object has no attribute '_start_event_processor'` error.

[2020-02-19 10:00] starenka commented on #704
No, problem. Well, the error is not there :+1: , yet the workers are still blocked...

[2020-02-19 17:24] mkloveyy commented on #442
@beniwohli sry, we have tried both 5.4.1 and 5.4.2 but the problem still exists... Actually, we upgrade the apm and then stop and restart our service. Then we find that many uwsgi workers don't exit immediately( maybe apm is controlling them for doing something)..

[2020-02-19 17:29] mkloveyy commented on #442
@beniwohli sry, I cannot re-open this issue because it's not closed by me.

[2020-02-19 18:45] Palisand commented on #713
@beniwohli Currently still running in WSGI. Thank you!

[2020-02-25 20:44] blakerouse opened #737 "Running Django 3 with asgi fails"
**Describe the bug**:

Django 3 supports running with asgi. APM does not work when using asgi because an issue with the format of headers in the ASGI. In ASGI the headers are a list where APM current expect it to be a dictionary.

**To Reproduce**

1. Create a new Django 3 project.
2. Run uvicorn pointing at `newapp.asgi`
3. Get stacktrace:

[code]

**Expected behavior**:

Spans are sent to APM se

[2020-02-25 22:02] blakerouse commented on #737
I added a workaround in Django settings file:

[code]

[2020-02-26 15:39] basepi commented on #671
This was implemented in #679

[2020-02-26 15:39] #671 closed

[2020-02-26 15:40] basepi commented on #671
Thanks for your offer of help @bartier! Sorry we were slow to respond here.

[2020-02-26 16:32] blakerouse commented on #737
I had to do more workarounds to get this to work. Django with ASGI has a few issues. The one I documented above along with contextvar handling. The usage of django signals for the start and finish of a request is an issue with ASGI.

django/asgiref run those signals in a ThreadPool so they lose context. I had to do the following as patches to get it to work with ASGI. But it does work!

[code]

Th

[2020-02-26 23:47] basepi commented on #737
Thank you for your great detective work here @blakerouse! I'm going to spend some time tomorrow looking over your code changes and figure out the best way to include these fixes in the codebase.

[2020-02-27 14:04] beniwohli commented on #704
@starenka would you mind trying if setting the [`transport_class`](https://www.elastic.co/guide/en/apm/agent/python/current/configuration.html#config-transport-class) setting to `elasticapm.transport.http.Transport` fixes the issue?

[2020-02-27 14:06] beniwohli commented on #442
@mkloveyy would you mind trying if setting the [`transport_class`](https://www.elastic.co/guide/en/apm/agent/python/current/configuration.html#config-transport-class) setting to `elasticapm.transport.http.Transport` fixes the issue? This is a wild guess, so chances are it doesn't fix the issue, but I'm running out of ideas :blush:

[2020-02-27 14:16] starenka commented on #704
well, `Note however that this can have adverse effects on performance.` this says me i don't want to :)

[2020-02-27 14:22] beniwohli commented on #704
That note is slightly out of date, and we need to fix it. Basically, all transports are now asynchronous (in the sense that putting something on the transport queue is non-blocking). The only difference between `Transport` and `AsyncTransport` is that the former uses the same background thread for processing as it does for actually sending the data over HTTP(s), while the latter has a separate thr

[2020-02-27 18:41] basepi opened #738 "[Feature] asyncpg instrumentation support"
Have a friend who is working at a company using an async tornado stack, and this is one of the libraries he requested that we support.

https://github.com/MagicStack/asyncpg

[2020-02-27 18:47] basepi opened #739 "[Feature] encode/httpx support"
A friend and I were chatting recently about async libraries in python. He had nothing but good things to say about the tools in https://github.com/encode

`httpx` seems like a no-brainer, in particular: https://github.com/encode/httpx

[2020-02-27 18:48] basepi opened #740 "[Feature] encode/databases support"
A friend and I were chatting recently about async libraries in python. He had nothing but good things to say about the tools in https://github.com/encode

`databases` seems like a good candidate for upping our async game: https://github.com/encode/databases

[2020-03-02 18:24] basepi commented on #737
@blakerouse Quick update here.

`process_request` and `process_response` are part of the [old-style Django middleware](https://django.cowhite.com/blog/django-middleware-the-new-version-of-middleware-and-how-to-use-it/), so our solution will definitely not use those (as they are not present starting in Django 2.0). But that's not a blocker for creating the transaction in the middleware, it's just a

[2020-03-02 18:32] basepi commented on #737
(Oh, the `process_request` and `process_response` do work in our code due to `django.utils.deprecation.MiddlewareMixin` -- you can ignore that note above)

[2020-03-02 19:09] blakerouse commented on #737
Another possible way is to add a custom ASGI middleware, but the issue would be to set current transaction in the contextvar for the selected executed thread when asyncio runs the request through the middleware.

[2020-03-02 23:18] basepi commented on #737
I actually have a hunch that this may be a python 3.6 issue. From what I can tell, for `contextvars`, this [has already been fixed](https://github.com/django/asgiref/issues/71). However, python 3.6 doesn't support `contextvars`. I'll be working on reproducing this tomorrow and testing that hypothesis, but if you'd like to get a head start you can try installing [the backported `contextvars`](https

[2020-03-02 23:41] bmorelli25 opened #744 "[docs] Distributed Tracing guide"
We recently created a [Distributed Tracing guide](https://www.elastic.co/guide/en/apm/agent/nodejs/master/distributed-tracing.html) for the Node.js Agent documentation. The guide explains three things:
* What distributed tracing is
* How to correlate traces with the RUM Agent
* How to manually create a distributed trace using the API

I think it'd be helpful to add something similar to the Python

[2020-03-03 17:22] basepi commented on #737
I think my hypothesis is wrong. It doesn't appear to work with `contextvars` installed on 3.6.10, nor with 3.7.6.

Back to the drawing board.

[2020-03-05 19:43] basepi commented on #737
We discovered (or, more precisely, @beniwohli discovered) that the `contextvars` fix that I linked to above used a copy of the `contextvars`, and thus our transaction `ContextVar` is being lost. I [submitted a PR](https://github.com/django/asgiref/pull/148) to asgiref to get this fixed, though we won't be able to benefit much from it due to supporting so many versions of Django.

With the fix abov

[2020-03-08 01:42] sebastienbeau commented on #327
Hi @guntursp

I am currently working on an implementation of elastic APM for odoo.
See the project here : https://github.com/akretion/odoo-elasticapm
It's in work in progress but we will go in production really soon.

When the project will be really mature we will propose it into the Odoo Community Association (OCA) https://github.com/OCA

Hope this can help

[2020-03-10 20:06] basepi commented on #737
My [fix](https://github.com/django/asgiref/pull/148) to `asgiref` has been merged, and after a bunch more experimentation, I think we're going to rely on that fix rather than trying to hack our way around it. None of the solutions which I came up with were ideal, and as soon as the new version of `asgiref` is released it should be pretty trivial to upgrade.

If you want to test to make sure my fix

[2020-03-10 20:06] #737 closed

[2020-03-10 20:31] v1v opened #748 "[CI][windows] tests.metrics.breakdown_tests failed with python 3.7 in Windows"
`windows-3.7-none / test_multiple_transactions – tests.metrics.breakdown_tests` failed with the below stacktrace

[code]

See [here](https://apm-ci.elastic.co/blue/organizations/jenkins/apm-agent-python%2Fapm-agent-python-mbp/detail/PR-746/24/tests)

Already discussed with @beniwohli and suggested to use some assertion a bit less strict

[2020-03-11 11:00] beniwohli commented on #740
So far, we avoided instrumenting ORMs (and similar) and instead instrumented the database drivers.

[2020-03-11 18:19] basepi commented on #740
My understanding is that `databases` is a driver. He has `orm`, which uses `databases` under the hood.

[2020-03-11 20:20] beniwohli commented on #740
I didn't take a closer look at the code, but the README says

[2020-03-12 17:14] basepi commented on #740
Well then. Those are the drivers we shall instrument! I'll open separate issues.

[2020-03-12 17:14] #740 closed

[2020-03-12 17:16] basepi opened #753 "[Feature] Add instrumentation for aiosqlite"
Ref #740

https://github.com/jreese/aiosqlite

Not sure if this is actually necessary, since it's just a bridge to the standard `sqlite3` driver, but it's worth a look.

[2020-03-12 17:19] basepi opened #754 "[Feature] Add instrumentation for aiomysql"
Ref #740

https://github.com/aio-libs/aiomysql

Another bridge driver, it depends on `PyMySQL` so I'm not sure if we need additional instrumentation or not.

[2020-03-12 17:20] basepi opened #755 "[Feature] Add instrumentation for asyncpg"
Ref #740

https://github.com/MagicStack/asyncpg

[2020-03-13 12:23] #748 closed

[2020-03-16 09:10] insukcho opened #758 "SSL/TLS is not working when client_authentication was not setup in APM Server"
**Describe the bug**:
I'm trying to set up TLS/SSL between Django/Flask Agents and self-managed APM Server in the same local machine.

When I checked the `apm-server.yml` configuration, it seems `client_authentication` default value is `optional` but when I didn't set up this, I keep seeing SSL handshaking exceptions.

After comment out `client_authentication: 'optional'` in `apm-server.yml` and r

[2020-03-16 09:25] insukcho commented on #758
it seems `apm-server.ssl.certificate_authorities: ['./certs/ca/ca.crt']` configuration automatically change certificate_authorities to `required`. I missed below comments from [reference](https://www.elastic.co/guide/en/apm/server/current/agent-server-ssl.html#_client_authentication). So that's why `'VERIFY_SERVER_CERT': False` was ignored.

[2020-03-16 09:39] insukcho commented on #758
One more scenario, if setup `client_authentication: 'required'` or comment out it in `apm-server.yml`, still have the same error message when I put the valid server certificate in Django configuration like below.

[code]

Only `client_authentication: 'optional'` in `apm-server.yml` is working for this case.

[2020-03-16 17:02] basepi commented on #418
I created some [troubleshooting docs](https://www.elastic.co/guide/en/apm/agent/python/master/troubleshooting.html) that should help with this. `logging=True` actually has nothing to do with the agent's logs. Rather, that's for shipping logs from your app to elasticsearch.

[2020-03-16 17:02] #418 closed

[2020-03-18 18:14] romulo-dbts commented on #681
Hi @basepi,

You have raise some good points and we can look into it further, but to be honest at first glance I think that overriding `sys.excepthook` is a good way to go. Regarding the concern of an user has already modified/overridden `sys.excepthook` we can write a code which implement some policies in order to give the user the possibility of set some precedence. I wrote a simple snippet to i

[2020-03-19 13:50] kuisathaverat opened #762 "[CI] Enable launch full matrix test on PRs"
We have a job that runs a really long list of frameworks and versions, we run it on a daily basis. In some cases, we need to launch those tests on a PR.
The proposal is to trigger those builds with a GitHub comment ("jenkins run the full test matrix" )

https://apm-ci.elastic.co/job/apm-agent-python/job/apm-agent-python-nightly-mbp/job/master/

[2020-03-19 23:49] basepi commented on #681
@romulo-dbts I like this solution a lot! I'd be happy to help you through submitting a PR, otherwise we'll add this to our list! Thank you for your work here.

[2020-03-20 09:54] kvspb opened #765 "'UnixDomainSocketConnection' object has no attribute 'port'"
AttributeError: 'UnixDomainSocketConnection' object has no attribute 'port'
elastic-apm==5.5.1

[code]

[2020-03-20 09:58] beniwohli commented on #765
@kvspb thanks for raising this! I'll get a fix released ASAP. In the mean time, you can downgrade to 5.4.3.

[2020-03-20 17:10] #765 closed

[2020-03-20 20:56] romulo-dbts commented on #681
@basepi Is there any documentation about how to setup the project and contribute?

[2020-03-23 10:14] beniwohli commented on #758
Closing this for now. Client certificates are currently not supported by backend agents.

[2020-03-23 10:14] #758 closed

[2020-03-23 10:15] beniwohli commented on #765
@kvspb we released a fix for this in 5.5.2 of the agent. Thanks again for the report!

[2020-03-23 19:32] basepi opened #769 "[Docs] Better contributing documentation"
Ref #681

Our contributing documentation is a bit lacking. Specifically, it would be nice to have a document that gives a tour of where the various pieces of the code are, how some of the inheritance paths work, and maybe pull some of the instructions from [Beni's old blog post](https://www.elastic.co/blog/creating-custom-framework-integrations-with-the-elastic-apm-python-agent) into our documenta

[2020-03-23 19:33] basepi commented on #681
We have a [contributing document](https://github.com/elastic/apm-agent-python/blob/master/CONTRIBUTING.md) but it hasn't had much attention recently and can definitely be improved.

The django middleware and all of our integration code is here: https://github.com/elastic/apm-agent-python/tree/master/elasticapm/contrib/django

I envision adding this `sys.excepthook` override as an off-by-default [c

[2020-03-23 23:51] romulorosa commented on #681
@basepi I switched to my personal account :) First of all, thanks for the guidance.

I was thinking about your suggestion, giving a first look into the code base and wondering if wouldn't be better to implement a solution which is not only attached to django module.

My initial analysis led me to create a solution which introduces the changes in the `Client` class (https://github.com/elastic/apm-a

[2020-03-24 20:31] basepi commented on #681
That looks like it would work quite well! @beniwohli what are your thoughts?

[2020-03-25 10:27] beniwohli opened #772 "Implement transaction_ignore_urls"
See https://github.com/elastic/apm/issues/144

[2020-03-25 13:39] beniwohli commented on #762
This has been addressed in #767 by @v1v

[2020-03-25 13:39] #762 closed

[2020-03-25 15:49] arocketman opened #774 "FastAPI/Starlette: Unexpected argument app"
**Describe the bug**: ...

Hi, I cannot seem to add ElasticAPM as middleware for the following versions:

starlette==0.13.2
fastapi==0.52.0
elastic-apm==5.5.2

The error is:

[code]

If you deep dive into the code for starlette you will notice that at some point it does the following as clearly stated by the applications.py code in starlette:

`app = cls(app=app, **options)`

however in ElasticApm

[2020-03-25 15:52] basepi commented on #774
@arocketman Thanks for the thorough issue! I missed the fact that that had to be a keyword argument. I'm happy to submit the fix in a PR, or you're welcome to if you'd like the credit since you did all the work! :)

[2020-03-25 15:56] arocketman commented on #774
Hi, sure I can do a PR. Thanks for the quick response.

[2020-03-25 18:00] basepi commented on #774
@arocketman Are you using `elasticapm.contrib.starlette.ElasticAPM` as your middleware, or a different object? I made assumptions but you didn't actually post your imports and now that I'm inspecting the code I'm thinking you may have used the wrong class.

[2020-03-25 19:01] arocketman commented on #774
Yes, you have a very strong point and I can say that this was a non-bug. My bad, as I have used PyCharm autoimport feature it imported the wrong class.
I will close the PR and the issue as this is all good.

Thanks for your support!

[2020-03-25 19:01] #774 closed

[2020-03-25 19:16] basepi commented on #774
No problem! I’m glad it was easy!

[2020-03-27 08:38] xavier-lr opened #780 "Sending data even with Django DEBUG=True"
Setting Django DEBUG to True does not stop elastic agent from sending data to APM.

[code]

APM server is hosted at Elastic Cloud (they pointed me here), I don't see where to check version, but since it was deployed 2 weeks ago, it should be the latest version (at least there is no option to update right now).

My tests:

[code]

Then, I go to Kibana --> APM and I can see there is data sent from t

[2020-03-27 08:45] beniwohli commented on #780
Hi @xavier-lr

what kind of data do you see in Kibana for that container? Just metrics or also errors and transactions?

[2020-03-27 12:14] xavier-lr commented on #780
Right now it looks like it's just metrics.

[2020-03-27 16:28] basepi commented on #780
This is expected behavior. Because metrics don't collect app-specific data we continue to send them regardless of the Django `DEBUG` setting.

We're going to be adding a `RECORDING` config very soon for pausing the agent entirely. Stay tuned: #575

[2020-03-27 16:30] basepi commented on #780
(For now if you use `ACTIVE=False` you can also turn off the agent that way. It's just a hard off where the agent won't even get remote config from Kibana. `RECORDING` will be a soft off.)

[2020-03-27 16:30] #780 closed

[2020-03-30 17:24] romulorosa commented on #681
Hi @basepi and @beniwohli any inputs here?

[2020-03-30 17:44] beniwohli commented on #681
@romulorosa thanks a lot for working on this, and sorry for dropping the ball here with reviewing. I'll take a look at your PR tomorrow!

[2020-03-31 19:51] sandys commented on #637
hi guys,
am a little confused on how to use this in flask - should i use it the way its mentioned in code.

https://github.com/elastic/apm-agent-python/blob/04f0edab39795ec4e3e304afbf82e29b726f7e45/elasticapm/contrib/rq/__init__.py#L32

because this issue mentions some other way and im not able to get it to work

[2020-04-07 07:40] xavier-lr commented on #780
On my Django settings for dev envs, I add ACTIVE=False:
[code]

But it does not seem to have any effect, it's still trying to connect all the time.

`WARNING|urllib3.connectionpool] Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fb09edf6370>: Failed to establish a new con

[2020-04-07 07:54] beniwohli commented on #780
Hi @xavier-lr

The `recording` flag that @basepi mentioned is almost finished and available in PR #790. Would you mind giving that a try to see if it fulfills your use case? You can install it like this:

    pip install "https://github.com/beniwohli/apm-agent-python/archive/enabled-recording.zip#egg=elastic-apm==100"

Then you can set `enabled` to false to completely disable the agent. We will de

[2020-04-07 08:12] zhouguangming opened #792 "Process pid get master pid"
**Process pid get master pid**

**Environment**
- OS:  Linux
- Python version: All versions
- Framework and version : All Versons
- APM Server version: All Versions
- Agent version: All Versions

https://github.com/elastic/apm-agent-python/blob/master/elasticapm/base.py#134
[code]

Because we get pid in master process but not in workers after fork

[2020-04-07 10:26] zhouguangming commented on #792
[code]

I fix thix issue by adding two lines of code:

[code]
it works but not graceful

[2020-04-07 10:52] mkloveyy commented on #442
@beniwohli I see there is a solution in #792, is it better?

[2020-04-07 18:13] HenrikOssipoff commented on #739
I was in need of this yesterday in one of our projects, and made a quick implementation of this. Would you be accepting a PR for this, or is anyone working on it?

`httpx` has both a sync and async client in the same codebase. Am I correct in assuming that the correct approach here is to add two separate instrumentation packages?

[2020-04-08 17:47] dpaluch-rp opened #795 "Coerce HTTP headers to string before reporting HTTP requests to APM Server"
Hi,

I started with elastic-apm and no data is captured, in case of error

`TransportException elasticapm.transport.http in send`

`document against schema: I[#] S[#] doesn\'t validate with \\"transaction#\\"\\n  I[#] S[#/allOf/3] allOf failed\\n    I[#/context/request/headers/last-region] S[#/allOf/3/properties/context/properties/request/properties/headers/patternProperties/%5B.%2A%5D%2A$/type] e

[2020-04-13 21:12] basepi commented on #637
@sandys You'll probably want to check out [the old discuss post](https://discuss.elastic.co/t/python-agent-only-recording-some-background-tasks/149707) that was referenced above. But note that this is not a supported use case, it has some big problems in terms of performance due to sending after each event instead of batching.

[2020-04-13 21:15] basepi commented on #739
We'd love to see a PR! And yes, it would be two different instrumentation modules due to the `async def` vs not.

[2020-04-13 21:30] sethmlarson commented on #739
Something to note here is that HTTPX is not a stable interface. 0.12 vs what will be 0.13 will look completely different. See HTTPX/httpcore split.

[2020-04-13 22:35] basepi commented on #739
@sethmlarson Thanks for the reminder! I remember you mentioning that previously. Perhaps we should wait for the eventual v1.0 release before we officially support this.

[2020-04-13 22:48] basepi commented on #442
I do not think #792 will help -- that issue is just about adding the new pid to the metadata that is reported to the APM server, it doesn't actually change the behavior around threads.

[2020-04-13 22:48] basepi commented on #792
@zhouguangming This looks like a good fix to keep that metadata up to date. We'd love it if you opened a PR with this fix, but if you don't have time I can do it for you.

[2020-04-14 08:48] xavier-lr commented on #780
I finally found that these settings disable all the attempts to connect to APM:
[code]

[2020-04-14 09:14] Patralos opened #798 "Docker Python no longer working as soon as elastic-apm is installed"
**Describe the bug**
It seems like some patches to requests destroy the functionality of the docker python package.

ValueError: invalid literal for int() with base 10: 'None'

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install "docker" and "elastic-apm" python package within a django app
2. Load APM using default django config
2. Try to use docker

**Expected behavior**
Docker s

[2020-04-14 13:45] basepi commented on #798
Hello @Patralos! I took the liberty of transferring your issue to the `apm-agent-python` repo, since it's python-specific. We appreciate the report and I'm going to look into this today or tomorrow.

[2020-04-14 14:50] HenrikOssipoff commented on #739
@sethmlarson @basepi As far as I can tell between the current work in progress v0.13 and v0.12, the interface exposed on the `Client` class is the same, it's only the underlying implementation that's been changed (there's a `send` method both the normal client and the async client that I used for my local implementation - it's the same between versions).

Your call of course, if you'd rather wait

[2020-04-14 15:49] basepi commented on #739
Hmm. I think we can probably add some tests that pull from their development branch so we won't be caught off guard. Go ahead and open your PR! :)

[2020-04-14 18:53] basepi commented on #798
So somehow the incoming URL that our wrapper is trying to parse has a port of `"None"` (the string, not the object `None`). This is causing a ValueError, as it should.

My current bet is that this is due to a malformed URL from your app. In fact, it appears in the stack trace to be in the exception handling code.

Anyway, I added some error handling which should fix this in #799. Can you test with

[2020-04-15 12:37] sandys commented on #637
@basepi well we are looking for full tracing rather than a metric ping. im not entirely sure if this is the right issue for it, or if thats a usecase you are planning to support.
I would say rq and celery would be in the same bucket for these kind of usecases.

[2020-04-15 16:36] basepi commented on #637
We actually support celery today. And I think we do want to support rq eventually we just haven't figured out the right way to do so.

[2020-04-15 16:37] basepi commented on #637
(I would open a new issue if I were you. Much cleaner than repurposing a "question" issue)

[2020-04-15 20:35] sandys commented on #637
Will do.
I wasn't sure if you guys were ok with opening a new issue with pretty much
the same topic!

Just one quick request though - I have simultaneously been discussing with
rq Devs to add any hooks to support APM.

They have offered to do so here -
https://github.com/rq/rq/issues/1230#issuecomment-612698580

Would you be able to comment on what exactly you need from rq to make
this happen? Esp

[2020-04-15 23:57] #798 closed

[2020-04-16 00:04] basepi commented on #637
Done. :)

[2020-04-16 22:30] laevilgenius opened #801 "read_pem_file doesn't support certificate chains"
Something like this should fix the issue:
[code]

[2020-04-17 00:36] #795 closed

[2020-04-20 16:23] beniwohli commented on #801
Hi @laevilgenius

great catch! I opened a PR to handle this here: https://github.com/elastic/apm-agent-python/pull/803

[2020-04-20 16:57] #801 closed

[2020-04-20 17:05] #717 closed

[2020-04-21 18:53] #590 closed

[2020-04-22 14:31] beniwohli commented on #712
It looks like all questions have been addressed. I'll close this for now :)

[2020-04-22 14:31] #712 closed

[2020-04-22 14:39] basepi commented on #738
Closing as duplicate of #755

[2020-04-22 14:39] #738 closed

[2020-04-22 14:43] basepi commented on #642
Note to self: `setuptools` `entry_points` could be useful here.

[2020-04-24 18:26] daniel-ruiz commented on #713
Hi!

I'm running a Django app in ASGI mode. I'd want to integrate it with APM and I found this issue. Are there any plans to officially support Django ASGI apps? Is there any other way to currently integrate them with APM?

Any help would be appreciated. Thanks in advance 😊

[2020-04-24 20:11] lfrodrigues opened #811 "Flower hangs from version 5.4.0."
**Describe the bug**:
Flower hangs (no answer from http connection to browser) when a version >= 5.4.0 is installed

**To Reproduce**

1. pip install elastic-apm==5.4.0
2. restart flower and try to access

**Environment (please complete the following information)**
- OS: Ubuntu 18.04
- Python version: 3.6
- Framework and version: Django 2.2
- APM Server version: NA
- Agent version: 5.4.0+

[2020-04-27 17:00] basepi commented on #713
@daniel-ruiz We definitely plan to officially support it. It may largely work now, we just haven't investigated yet.

[2020-04-27 17:26] basepi commented on #739
@HenrikOssipoff Are you still game to submit a PR for this?

[2020-04-27 19:26] basepi commented on #811
To clarify, you were previously on a version <5.4.0 and had it working? I want to make sure this is a regression as opposed to a long-standing bug.

[2020-04-27 21:33] lfrodrigues commented on #811
The last version we had in production was 5.3.2 and it worked fine. From 5.4.0 it hangs.

Please let me know what extra info I can provide to help.

[2020-04-28 18:30] basepi commented on #811
Thanks for that update. I'm going to spend some time tomorrow looking into this.

[2020-04-29 19:20] #706 closed

[2020-04-29 20:23] basepi commented on #811
Aha! I have this reproduced and think I'm on the road to a fix. Basically, `flower` uses `tornado`, for which we recently added instrumentation. With the way `flower` integrates with Django and Celery, apparently it does get instrumented but not as a `tornado` app, which causes this error:

[code]

Working on a fix.

[2020-05-04 16:53] #811 closed

[2020-05-04 18:32] BuSHari opened #815 "[Feature] Option to change key name in set_custom_context"
Hi,

Can you please add an option to change the key in set_custom_context?
For example:
[code]
and it will be under `transaction.extra_data.billing_amount`

[2020-05-04 19:18] basepi commented on #815
The main problem with this is that transaction data has a defined (and enforced) schema. You can see the `context` schema here (I've highlighted `custom`): https://github.com/elastic/apm-server/blob/58620f9a8d0a02e4dd3b3b508734d4c712d396c5/docs/spec/context.json#L7-L14

I don't think we'll be able to make it dynamic at that top level, without risking a mapping explosion in Elasticsearch. But remem

[2020-05-04 19:18] #815 closed

[2020-05-05 18:55] dvincelli opened #816 "when capture_body is false, flask capture_body should not capture body at all"
A code base I contribute to currently requires reading the `environ['wsgi.input']` stream directly before flask can get to it. When latest Elastic APM 5.5.2 is installed, this stream is empty when the app gets to it. This is because `environ['wsgi.input']` is a read once stream and does not support seek. When the Elastic APM capture_body logic runs, it first reads the stream before deciding if it

[2020-05-06 14:42] #816 closed

[2020-05-06 19:03] v1v opened #819 "CI: post-cleanup build in the tag release failed"
[code]
Build [1](https://apm-ci.elastic.co/job/apm-agent-python/job/apm-agent-python-mbp/view/tags/job/v5.6.0/1/)

More precisely https://github.com/elastic/apm-agent-python/blob/master/Jenkinsfile#L318

[2020-05-06 19:08] BuSHari commented on #815
OK, thank you for the explanation...

[2020-05-06 21:37] basepi commented on #815
No problem! Sorry for the lack of an ideal solution for you!

[2020-05-07 08:53] beniwohli commented on #816
@dvincelli thanks for the super detailed bug report. We released a fix for this in version 5.6.0 of the agent. Can you verify that it solves the problem for you?

[2020-05-07 14:50] #613 closed

[2020-05-07 15:44] dvincelli commented on #816
@beniwohli I'll have a look and let you know. Thanks for the quick turn-around!

[2020-05-07 16:39] dvincelli commented on #816
@beniwohli I'm following up to confirm that I tested it locally and this change has solved my problem.

[2020-05-07 16:46] beniwohli commented on #816
That's great, thanks for the confirmation!

[2020-05-08 13:37] #819 closed

[2020-05-08 15:33] basepi opened #822 "[Feature] Collect cloud metadata"
Add collection for cloud metadata -- see [naive example here](https://github.com/hubblestack/hubble/blob/develop/hubblestack/extmods/grains/cloud_details.py)

APM Server will support intake for cloud metadata in 7.8 (now available in nightly snapshots).

**Additional context**

https://github.com/elastic/apm/issues/256

[2020-05-08 18:08] lfrodrigues opened #823 "APM agent crashes in Celery at random times during the day"
I'm not sure how to reproduce but I've had this issue in production for several months. The crash happens randomly during the day, 20-50 times (we run 400k+ tasks per day)

The crash is:

[code]

**Environment (please complete the following information)**
- OS: Ubuntu 18.04
- Python version: 3.6
- Framework and version: Django 2.2 Celery 4.4.2
- APM Server version: 7.6.0
- Agent version: 5.3.2

[2020-05-08 21:54] basepi commented on #823
Hmmm, I wonder how we're managing to send an invalid gzip header? Very odd. We'll see if we can track this down next week.

Can you do a `pip freeze` so we can see all your python package versions?

[2020-05-09 09:26] lfrodrigues commented on #823
Here you are:
[code]

[2020-05-11 19:46] basepi commented on #823
I wonder if https://github.com/elastic/apm-agent-python/pull/783 fixed this? Can you try upgrading to 5.6.0 and see if the crashes go away?

[2020-05-11 21:23] lfrodrigues commented on #823
Sure just did and will let you know

[2020-05-12 07:05] lfrodrigues commented on #823
The crash description changed in version 5.6.0. It still happens at random times. Since I'm getting lots of celery data in APM so I assumed everything configured correctly.

Any idea what can be happening/how can I help debug this?

[code]

[2020-05-12 10:16] runekri3 commented on #704
I am getting the same issue. Seems to happen when celery containers shut down (e.g. during a deploy).

Environment (please complete the following information)

OS: [e.g. Linux] Linux
Python version: 3.8
Framework and version [e.g. Django 2.1]: Django 2.2.12
APM Server version: 7.6.1
Agent version: 5.6.0
Celery: 4.4.2

[2020-05-12 14:05] basepi commented on #823
I'm pretty certain these errors are around remote config, not normal data sending to the APM Server. When you say it crashes, does the celery worker actually stop or restart? Or do you just see an error log? Crashing is definitely not behavior we want, I'm going to figure out how to make these errors less intrusive and more useful.

As a band-aid fix, assuming you're not actually using the remote

[2020-05-12 14:14] basepi commented on #823
One other question: what are you using for your [celery pool](https://docs.celeryproject.org/en/latest/reference/celery.bin.worker.html#cmdoption-celery-worker-p)? Are you using `prefork` or one of the thread options?

[2020-05-12 15:35] lfrodrigues commented on #823
We get a crash report in sentry but I'm not sure what is crashing. I'm adding two more errors I get maybe it helps.

We're using `prefork`.

[code]
[code]

[2020-05-12 15:36] lfrodrigues commented on #823
No, we're not using central_config, disabled it as sugested.

[2020-05-12 19:26] basepi commented on #823
Are there any errors present in the APM Server logs? I wonder if it's overloaded or needs to be [tuned](https://www.elastic.co/guide/en/apm/server/current/tune-apm-server.html)? Those errors do not appear to be anything on the agent side, could be network issues or APM Server load issues.

I'm still a bit mystified about the 400 errors that you're seeing. I'm going to do some more digging.

[2020-05-12 19:58] basepi commented on #823
Do you have any sort of proxy that could be modifying headers? The strangest piece of those errors is the fact that they're intermittent. We gzip-compress all data that we send to the APM server to reduce payload sizes, and I can't imagine why most data would be getting through fine but some would have invalid headers...

[2020-05-12 20:15] lfrodrigues commented on #823
No, nothing in the logs. It can't be the network as in this particular server I installed the APM server locally.

No, I have this celery in the same server as the apm server and I'm using the minimal default settings in Django to get APM working :

[code]

[2020-05-13 19:42] basepi commented on #823
On the timeouts, it may be that your apm server is a touch overloaded and thus responding slowly. You can modify those timeouts with [`SERVER_TIMEOUT`](https://www.elastic.co/guide/en/apm/agent/python/current/configuration.html#config-server-timeout) to raise that timeout period from the 5 second default.

I'm still trying to track down the source of the gzip errors. One of the APM Server devs poi

[2020-05-14 08:07] zhouguangming commented on #792
sorry for the late， dont mind to fix it if you want @basepi

[2020-05-14 08:58] lfrodrigues commented on #823
This specific server is massively over-provisioned with a load average consistently below the available cores, so I think it's strange it is a server timeone. I increased to 10s and will let you know if something changes.

[2020-05-14 14:22] lfrodrigues commented on #823
Maybe all these issues are related to celery workers exiting when apm-agent wasn't expecting it?

Here's another crash from today.

[code]

<img width="1152" alt="Screenshot 2020-05-14 at 15 19 02" src="https://user-images.githubusercontent.com/301004/81945673-4deb9680-95f6-11ea-9148-b7551e4ce795.png">

[2020-05-14 18:56] basepi commented on #823
That could very well be the case. I could see that causing most of the issues that you're seeing -- in fact, if the celery worker shuts down while a message is being written to the gzip buffer in memory, it's possible that could be causing the corruption that results in the original error you reported.

Perhaps it would be worth turning off [`worker_max_tasks_per_child`](https://docs.celeryproject

[2020-05-14 19:11] basepi commented on #792
Sounds good. I opened a PR: #825

[2020-05-14 21:06] lfrodrigues commented on #823
Disabled, I'll let you tomorrow.

[2020-05-17 14:14] lfrodrigues commented on #823
It looks like the worker theory is correct.

I'm left with one crash in Sentry that happens between 1 am and 2 am that I hadn't even noticed before related to the size of the event.

We're inserting around 700k new rows into a table between 1 am and 2 am. Is there a smart way to prevent sending this huge SQL to APM Server?

[code]
[code]

[2020-05-18 16:36] basepi commented on #823
Yes we should definitely truncate that. Can you create a separate issue for that SQL truncation? I want to keep this issue focused on making the transport shut down more gracefully.

[2020-05-18 19:10] lfrodrigues opened #827 "APM agent crashes if the SQL query is too large"
**Describe the bug**:

When running in celery (I guess it happens elsewhere also) if the query is too large APM server will reject the event.

[code]

**To Reproduce**

1. Run a bulk_create in Django with a large list.
In our code, we're creating 450k rows in a task at night.

**Environment (please complete the following information)**
- OS: Ubuntu 18.04
- Python version: 3.6
- Framework and versi

[2020-05-18 19:11] lfrodrigues commented on #823
Opened  #827

[2020-05-18 21:54] basepi commented on #827
Thanks for opening this. We'll get this fixed.

[2020-05-19 18:30] smith opened #828 "Redis: Support publish and subscribe methods"
While running the examples from the blog post [How to instrument a polyglot microservices application with Elastic APM](https://www.elastic.co/blog/how-to-instrument-a-polyglot-microservices-application-with-elastic-apm), I noticed Redis doesn't show up on the service map as being connected to the Python service in this example.

It looks like that's because [according to our documentation we don'

[2020-05-19 20:19] basepi commented on #828
Thanks for the request!

[2020-05-22 19:14] hramos8 opened #831 "APM Agent on K8s take system memory from host"
**Describe the bug**
When using APM agent on Kubernetes cluster, the memory reported in **system.process.memory.size** is incorrect.

To identify this situation whe have the suport of @tanquetav

**To Reproduce**
Steps to reproduce the behavior:
1. In kibana, search your service metrics:
`service.name : your-service-name and processor.event : metric`
this value is all memory of host.

**Expected b

[2020-05-23 13:10] tanquetav commented on #831
When we run containers on k8s, it is as Linux environments. The code to get memory is available here:
https://github.com/elastic/apm-agent-python/blob/master/elasticapm/metrics/sets/cpu_linux.py#L39

It reads memory from /proc/meminfo. Unfortunately this information is not cgroups compliant, and gives the information from host environment. The cgroup  information is available on /sys/fs/cgroup/

[

[2020-05-23 17:26] HenrikOssipoff commented on #739
Sorry it's been busy during this situation that's going on - still up for it, will get to it within the next few days. Sorry about the wait! v0.13 is out now as well with the reworked internals.

[2020-05-23 17:46] HenrikOssipoff opened #833 "Consider using route information instead of URL for Starlette transactions"
We're slowly started using Starlette for some smaller applications due to its simplicity and async capabilities. We also happen to use Elastic APM for our monitoring, but we've found that the agent works quite different from other agents, such as Django or Flask.

The default for Django, is "HTTP Method + path.to.view". This can be changed for Django 2.2+  using the `django-transaction-name-from-r

[2020-05-26 22:55] basepi commented on #831
Thanks for the thorough report! We'll get this fixed.

[2020-05-26 22:57] basepi commented on #739
Excellent! Looking forward to it.

[2020-05-26 23:10] basepi commented on #833
The Starlette support is new enough I'd be willing to entertain a change like this. I would much rather have route information than the full path, but like you mentioned, it's unavailable without manually calculating the route. My only concern with that solution is that it adds some processing overhead. But I do think it would give us more useful transaction names, and hopefully they'll add an off

[2020-05-27 05:35] HenrikOssipoff commented on #833
@basepi Definitely, I'll give it a go in the near future. Would enable us to use Starlette much more than we currently do :)

[2020-05-27 22:07] basepi commented on #823
Opened #838 to address these errors and make them more descriptive.

[2020-05-28 14:05] thenewguy opened #839 "Add ENV var to disable proxy completely"
It would be very helpful for integration testing if there was an environment variable that could be set to disable the use of a proxy.  NO_PROXY='*' doesn't seem to be working.  Currently testing using docker and linking all containers together via links - however, the agent is reaching out to access via proxy set on the local workstations and making development quite difficult

-- edit --
just fo

[2020-05-28 14:22] thenewguy commented on #839
So determined that no_proxy was being overwritten by the test runner.  * does work.

I.e. this output from printenv let the agent connect:
[code]

Any idea why this one does not?
[code]

[2020-05-28 16:21] thenewguy commented on #839
I am going to close this.  Seems like some software respects CIDR and other doesn't.  Doesn't seem to have a standard interpretation so it is probably wrong either way

[2020-05-28 16:21] #839 closed

[2020-05-28 23:57] bejoinka commented on #833
Question for the group here... tagging onto this thread because I think it may be related:

Am I correct in thinking route discovery is currently the best way to handle a pipeline of middleware for a given route or group of routes?

A little backdrop... I am thinking about the equivalent of a policies.js file in nodejs, where you may build a pipeline of checks for a given request:
`
admin_policies

[2020-05-29 12:25] beniwohli commented on #839
@thenewguy just as a quick follow up, we're using Python's built-in functions to determine if a host matches `NO_PROXY`. The function isn't documented as far as I can tell, but the source code is here:

https://github.com/python/cpython/blob/28316422124206f63ddd4b91f2e19c54b6e9cd9d/Lib/urllib/request.py#L2513-L2545

[2020-05-29 19:46] AumitLeon opened #841 "Make SANITIZE_FIELD_NAMES constant configurable for custom headers"
**Is your feature request related to a problem? Please describe.**
It would be nice to have the option to extend the list of field names that are considered when sanitizing HTTP headers. This is especially useful if you have custom headers with sensitive data.

**Describe the solution you'd like**
A function that lets a user provide header(s) that extend the base `SANITIZE_FIELD_NAMES` set, such t

[2020-05-29 20:21] basepi commented on #841
This seems reasonable, and is in line with what [other](https://www.elastic.co/guide/en/apm/agent/java/current/config-core.html#config-sanitize-field-names) agents are doing(https://www.elastic.co/guide/en/apm/agent/dotnet/current/config-core.html#config-sanitize-field-names).

Thanks for the request!

[2020-05-29 20:26] basepi commented on #841
(Note to self, this should support wildcards to match with .NET and Java. .NET tests are available [here](https://github.com/elastic/apm-agent-dotnet/blob/master/test/Elastic.Apm.Tests/WildcardMatcherTests.cs#L11))

[2020-06-01 19:06] zero0nee opened #845 "FastAPI / Starlette log shipping to APM Server"
**Describe the bug**: The FastAPI / Starlette client doesn't seem to be sending data from the python logger to the APM server. I see that `elasticapm.contrib.flask.ElasticAPM` support `logging=True` as an argument, but don't see the same for `elasticapm.contrib.starlette.ElasticAPM`. So I'm not sure if this is a bug or feature request.

**To Reproduce**

1. Run the FastAPI app specified in `main.p

[2020-06-02 10:35] hugosantosred opened #847 "Drop Spans Shorter than Xms"
**Is your feature request related to a problem? Please describe.**
We are running a custom integration for an ERP Application with the Python APM Agent.

The problem is that some of the transactions are really long and are composed of thousands of spans, and we are facing problems to view the slow spans, the ones that really matters for us, as whewithout configuring ELASTIC_APM_TRANSACTION_MAX_SPA

[2020-06-02 10:54] beniwohli commented on #847
Hi @hugosantosred

Thanks for opening this issue! One way to achieve this could be to use a [processor function](https://www.elastic.co/guide/en/apm/agent/python/current/sanitizing-data.html) that checks the `duration` field and returns `False` if it is below a certain threshold. Would that be a good solution for you?

[2020-06-02 15:35] beniwohli commented on #847
@hugosantosred turns out there is a cross-agent effort to introduce a setting for this, you can read more here: https://github.com/elastic/apm/issues/259.

I can't give you a timeline yet when we will be able to introduce this, as there are a couple of high priority tasks on our platter.

[2020-06-02 21:03] basepi commented on #845
The FastAPI/Starlette integration does not currently have log shipping support (like the Flask integration does). I think it's something we can add, though! Thanks for opening this issue.

[2020-06-03 07:37] hugosantosred commented on #847
@beniwohli Thanks for all the help!

I'm going to subscribe to elastic/apm#259 to be aware of any changes on this.

[2020-06-03 18:02] zero0nee commented on #845
@basepi Thanks a lot for the quick response. Two follow up questions:
1. When do you think you will be able to add it?
2. Would be more than happy to contribute in adding this feature as well, if you could give me some guidance on where to start? 😄

[2020-06-04 10:33] rajan123456 opened #853 "Add instrumentation for Kafka"
**Is your feature request related to a problem? Please describe.**
The apm-agent-java is capable of tracing transactions through Kafka from v7.6, however, Kafka related messages cannot be tracked through the python agent.

**Describe the solution you'd like**
apm-agent-python should be able to support Kafka as part of the transaction details captured.

**Describe alternatives you've considered**
N

[2020-06-04 18:29] basepi commented on #853
Thanks for opening this! Kafka is definitely a high priority for us to support.

[2020-06-04 20:39] #827 closed

[2020-06-04 21:52] basepi commented on #845
@zero0nee We'd love to have you work on this!

However, I think the direction I'd really like to take this is to add log-shipping as a top-level feature of the agent, rather than continuing to add it to each individual instrumentation/integration. To that end, I need to find some time to crystallize the design of this in my mind a little so I can provide you some good guidance on where to start on

[2020-06-05 12:18] arocketman commented on #685
I think documenting the standalone mode would be great, any points to understand how-to right now looking at the source code?

[2020-06-05 15:17] #792 closed

[2020-06-05 16:34] #823 closed

[2020-06-06 11:35] DanielFerreiraJorge commented on #845
Hi!

I too am really interested in FastAPI on par with flask in terms of features of the apm agent. FastAPI is a really important framework to be left behind. It is not really usable right now...

[2020-06-09 20:07] basepi commented on #845
@DanielFerreiraJorge Can you elaborate? What else is the FastAPI support missing besides log shipping?

[2020-06-10 02:01] lidemeng99 opened #857 "agent can't send the transaction data into apm-server, but metrice and span data can be sent to APM-SERVER"
**Describe the bug**:
agent can't send the transaction data into apm-server, but metrice and span data can be sent to APM-SERVER
**To Reproduce**

**Environment (please complete the following information)**
- OS: SUSE LINUX
- Python version: 3.6
- Framework and version : flask 0.12
- APM Server version: 7.7
- Agent version: latest

[2020-06-10 07:12] beniwohli commented on #857
@lidemeng99 do you see any error messages in the logs of either your application or APM Server? I'm afraid at the moment we have very little information to investigate this issue.

[2020-06-10 07:47] esseti opened #858 "Add log level in the metadata"
We are using the django integration with APM.
it would be useful to add the log level for the messages.
eg log.warning -> level:warning
eg log.error -> level:erorr
[code]

right now there's no way to get if the log was a warning or an error

[2020-06-10 09:23] beniwohli commented on #858
Hi @esseti

You can find the log level in the `error.log.level` of the error document in Elasticsearch. However, it indeed doesn't look like this information is visible anywhere in the APM app. I'll ask our UI team and get back to you.

[2020-06-10 11:01] beniwohli commented on #858
@esseti we have an issue for this in Kibana now, https://github.com/elastic/kibana/issues/68748

I'll close this issue as the agent is already sending all the relevant information. Make sure to subscribe to the Kibana issue if you want to follow along with the progress.

[2020-06-10 11:01] #858 closed

[2020-06-10 11:20] DanielFerreiraJorge commented on #845
@basepi Thanks for the answer! I meant the logging (I do not have enough knowledge about the internals of the agent to know if something else is missing though)

On a side note, the main benefit o FastAPI is the async functionality (besides the typing and autodoc). And the async database access generally comes from the [databases](https://github.com/encode/databases) library. It is really importan

[2020-06-15 19:09] tybritten opened #861 "Disable Exception Reporting"
**Is your feature request related to a problem? Please describe.**
We're using another tool to capture errors (Sentry) and we don't exceptions to also be reported to APM.

**Describe the solution you'd like**
an easy configuration to disable exception handling for APM

**Describe alternatives you've considered**
I'm looking at how to unhook APM from the signals.got_request_exception

**Additional

[2020-06-16 20:16] basepi commented on #861
Hello @tybritten! We appreciate the request, but since errors are a pretty core part of our product, I don't think we're going to invest time in removing error reporting. That said, it would be pretty simple to write a [processor](https://www.elastic.co/guide/en/apm/agent/python/current/sanitizing-data.html) to drop the error events.

[2020-06-16 20:16] #861 closed

[2020-06-16 20:17] tybritten commented on #861
I understand, and thanks for the tip

[2020-06-17 17:11] yrik commented on #755
We need this feature as well. Do you have any quick guidance how to add it on our own?

[2020-06-17 21:08] basepi commented on #755
Your closest parallel is probably the `aiopg` instrumentation that @beniwohli added awhile back: https://github.com/elastic/apm-agent-python/pull/668

Keep us posted if you decide to try to tackle that, we can answer questions.

[2020-06-18 14:30] beniwohli commented on #598
Closing this, as general asyncio support has been implemented

[2020-06-18 14:30] #598 closed

[2020-06-24 10:38] alexchowle opened #868 "Python APM agent only sends first HTTP body, rest are [REDACTED]"
Using `elastic-apm[flask]==5.4.2`

Have config item `CAPTURE_BODY` set to `all`

Only the first Transaction provides the HTTP Body to APM. All subsequent Transactions are marked as [REDACTED].

[2020-06-24 14:09] basepi commented on #868
@alexchowle Thanks for the report! Are you utilizing remote configuration from kibana? I wonder if it's getting overwritten there?

[2020-06-24 14:17] alexchowle commented on #868
You're 100% corrent. Thank you.

[2020-06-24 14:17] #868 closed

[2020-06-26 13:57] HenrikOssipoff opened #872 "Traces are being scrambled between transactions"
**Describe the bug**
I'm not entirely sure how to go about this, since I'm not able to reproduce this bug in a specific manner.

The gist is that we're seeing traces from completely non-related transactions appear together in APM.

This is maybe best shown with an image:

![apm](https://user-images.githubusercontent.com/4737224/85865167-c46adf00-b7c5-11ea-8326-ff2b91fad3bf.png)

In this case, the

[2020-06-26 19:52] basepi commented on #872
This is a weird one! The running transaction is propagated via contextvars, for python 3.7+. I suppose it's possible that there could be a bug there, that's the only way off the top of my head that I could see an incorrect transaction being tied to spans.

Is there a chance that `TerminalViewSet` could be calling the other view, and we're just missing those connecting spans for some reason? The on

[2020-06-26 20:01] HenrikOssipoff commented on #872
@basepi Thanks for the swift reply.

From a quick grep, I find no references to the refund model/table in this Django Rest Framework ViewSet, it's serializer or the corresponding model manager. However, I'll do a thorough look through the logic early next week when I'm back at work.
My first instinct as well would be a user error. Especielly because I've mainly seen the issues on this particular v

[2020-06-26 20:54] HenrikOssipoff commented on #872
@basepi Damn I feel stupid now. I've found the issue, and it is (of course) a user error.

I likely wouldn't have found it if it wasn't for you though (thanks for being my virtual rubber duck here).

We have a Filter class defined (using django-filters), that is really hacky. It basically dynamically creates a choices tuple - in the class definition. So I'm guessing for this particular application

[2020-06-26 20:54] #872 closed

[2020-06-26 21:27] basepi commented on #872
Hey, no worries! I'm mostly just relieved, this sounded like it was going to be terrible to debug! :)

Glad we found the issue. Always happy to be a rubber duck.

[2020-06-26 22:17] #822 closed

[2020-06-26 22:53] #841 closed

[2020-06-27 14:30] HenrikOssipoff opened #873 "Support for Django instrumentation using ASGI"
**Is your feature request related to a problem? Please describe.**
Since Django 3.0 it's been possible to run Django through ASGI. Some benchmarks are showing that running Django using ASGI over WSGI in itself is actually a gain, so it might make sense to support ASGI in this case.
Further more, starting with Django 3.1 (currently in beta), we'll be able to use async views, making it even more att

[2020-06-29 13:26] beniwohli commented on #873
Hey @HenrikOssipoff

I think the headers issue should be fixed by https://github.com/elastic/apm-agent-python/pull/856. We'll make a release soon.

As for general ASGI support for Django, this may or may not be a relatively large undertaking. I haven't taken a very close look yet, but AFAIK, Django won't rewrite the ORM and other blocking code paths to non-blocking, but instead run those blocking

[2020-07-01 06:48] beniwohli opened #876 "Reporting and showing cgroup-based metrics"
See https://github.com/elastic/apm/issues/291 for implementation details

[2020-07-01 07:08] beniwohli commented on #873
@HenrikOssipoff can you give the newly released 5.8.0 a try to see if it fixes the exception you reported?

[2020-07-01 10:41] HenrikOssipoff commented on #873
@beniwohli We're able to use ASGI now to service our Django without any issues - traces looks perfect 😃  Thanks!

[2020-07-01 11:59] beniwohli commented on #873
@HenrikOssipoff thanks for checking, that's good news!

I just remembered that @basepi  contributed a PR to asgiref a while ago to improve context handling in the async-to-sync and sync-to-async bridges. Looking at the asgiref commit history, further improvements have been made since. So there's a possibility that it Just Works :tm:

Are you already using async views in your app?

[2020-07-01 12:01] HenrikOssipoff commented on #873
@beniwohli Not yet, but I think I'll take Django 3.1 beta for a spin soon and make some tests, I'll report back!

[2020-07-01 12:06] beniwohli commented on #873
Awesome, thanks! I'll close this issue for now. If you find any issues with async views, feel free to open a new issue :)

[2020-07-01 12:06] #873 closed

[2020-07-03 13:40] ivasic opened #880 "ReadTimeoutErrors on 169.254.169.254 /latest/api/token"
After updating the agent to version 5.8.0 my all my Django `manage.py` commands seem to hang indefinitely and never finish and I'm first seeing:

`WARNING  urllib3.connectionpool Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPConnectionPool(host='169.254.169.254', port=80): Read timed out. (read timeout=3.0)")': /lat

[2020-07-06 17:36] mrkiril opened #882 "dictionary changed size during iteration"
Same problem to https://github.com/elastic/apm-agent-python/issues/717

[code]

Environment (please complete the following information)

OS: Ubuntu 20.04 stable
Python version: 2.7.18
Framework and version Django 1.3
APM Server version: 7.6.0
Agent version: 5.8

[2020-07-06 20:01] michaelhelmick commented on #880
Can confirm this happens. Currently, attempting to set `CLOUD_PROVIDER` to `False` in `settings.py` and sticking to 5.8.0

[2020-07-06 22:31] basepi commented on #880
Thanks for the report! This is certainly related to the new cloud metadata we collect, but I'll need to investigate more to figure out what's going wrong, especially with `CLOUD_PROVIDER=False`.

[2020-07-07 17:26] basepi commented on #880
@michaelhelmick Can you show me the ReadTimeouts that you're getting? I cannot see a way that we should be hitting any of the cloud metadata collection with `'CLOUD_PROVIDER': False`, so I want to make sure that your timeout is actually the same as @ivasic's.

[2020-07-07 17:36] basepi commented on #880
@michaelhelmick Also are you in AWS or can you reproduce this outside of a cloud provider?

[2020-07-07 20:29] michaelhelmick commented on #880
It's on the same /latest/api/token endpoint. I curl'd inside my container and it wasn't available there either, but other metadata endpoints were.

I am on AWS and don't have time to try and reproduce outside of a cloud provider, sorry!

[2020-07-07 21:23] basepi commented on #880
@michaelhelmick That's fine. I haven't been able to reproduce the hang, though I can reproduce the `Closing the transport connection timed out`, and know how to fix the ReadTimeout warning logs. I'm pretty sure that all of these issues are due to the metadata generation moving into the Transport thread, as part of adding the cloud metadata. I'm still digging.

[2020-07-07 21:47] basepi commented on #880
@ivasic I've never been able to reproduce your full hang. However, I fixed the other errors you were seeing in #884. It was a combination of a missing `retries=False` on the token call for the AWS metadata, and the fact that on docker containers on EB, the PUT to the token endpoint fails, and fails slowly. I fixed the timeouts, removed the retries, and put error handling around the token request:

[2020-07-08 00:01] michaelhelmick commented on #880
If it helps, mine appeared in celery logs in ECS. Did not appear in migrate or any web logs

[2020-07-08 07:38] ivasic commented on #880
It seems to have helped! 🎉

[2020-07-08 14:14] beniwohli commented on #882
Hi @mrkiril

Good catch! The solution from #717 should also work in this case. I'll open a PR.

[2020-07-08 15:19] basepi commented on #880
That's my best guess. But it still shouldn't have hung more than about 10-12 seconds, so I'm definitely confused...

In any case, I'm glad the fix is working!

[2020-07-09 08:13] #882 closed

[2020-07-09 17:24] basepi commented on #575
This was introduced in https://github.com/elastic/apm-agent-python/pull/790 -- `RECORDING` is the config that you're looking for.

[2020-07-09 17:24] #575 closed

[2020-07-09 23:29] #880 closed

[2020-07-11 22:34] tanquetav commented on #876
I already implemented  this issue in this PR:
https://github.com/elastic/apm-agent-python/pull/846

Issue refer: https://github.com/elastic/apm-agent-python/issues/831

I already implemented this on a java, with  @eyalkoren supervision  and recoded this to python on that PR.

[2020-07-16 21:21] basepi opened #888 "Add sample_rate to transactions"
See https://github.com/elastic/apm/pull/307 for details. Need to add the sampling rate to all transactions and spans, and propagate it through via `tracestate`.

[2020-07-22 20:28] basepi opened #892 "Debug and re-enable eventlet tests"
We need to figure out why the `eventlet` tests began failing suddenly, with no changes to our code, and no new eventlet releases, starting on July 18 2020.

I disabled the tests in https://github.com/elastic/apm-agent-python/pull/890.

[2020-08-03 19:31] Aloshi opened #894 "Support for setting the execution context after import time to support late gevent patching"
**Is your feature request related to a problem? Please describe.**
I'm working with a legacy codebase that imports some code, forks and does gevent monkey patching, then imports a bunch more code. I'm running into an issue where `elasticapm.traces.execution_context` is initialized at import time during the first phase, using the not-monkeypatched `threading.local` / `contextvars`, which causes tra

[2020-08-05 15:34] basepi commented on #894
I think this would be doable if we changed `elasticapm.traces.execution_context` to basically be a getter for the execution context that has been set. Then we could proved a setter for the execution context that could be set or updated any time.

That said, I don't see this being very high priority, but I think we can definitely leave this open. Thanks for the request!

[2020-08-18 18:09] basepi opened #904 "[META 319] Add sanitize_field_names to remote config"
Spec: https://github.com/elastic/apm/pull/334
Meta: https://github.com/elastic/apm/issues/319

Default should be:

[code]

Note that the implementation of this also includes adding the option to [Kibana](https://github.com/elastic/kibana/blob/master/x-pack/plugins/apm/common/agent_configuration/setting_definitions/general_settings.ts).

- [x] Implemented
- [x] Added to Kibana
- [ ] Released (break

[2020-08-21 04:43] mr-ping opened #906 "About tornado.httpclient.AsyncHTTPClient supporting"
Thanks for this amazing product.

Do you have a plan to support tornado.httpclient.AsyncHTTPClient in python-agent, or consider any other async http client and async db connector instead?
Otherwise i must use blocking http client like `requests` in tornado framework.

[2020-08-21 06:57] beniwohli commented on #906
Hi @mr-ping! We haven't had tornado's AsyncHTTPClient on our radar yet, thanks for the heads up.

We currently support the [`aiohttp` Client](https://docs.aiohttp.org/en/stable/client.html), and support for [`httpx`](https://github.com/encode/httpx) will land soon. As for database connectors, we currently only support [`aiopg`](https://aiopg.readthedocs.io/en/stable/) for PostgreSQL, with [`asyncp

[2020-08-25 18:19] #739 closed

[2020-08-26 19:29] basepi opened #908 "Remote Config: Add callbacks on config change"
The upcoming remote config option for [`log_level`](https://github.com/elastic/apm/pull/332) will require us to be able to execute code when it changes, so we can change the log level in the `elasticapm` logger.

This should be generalized to allow for functions to be called when a remote config option changes.

[2020-08-26 19:30] basepi opened #909 "Add `log_level` config (dynamic)"
Currently we rely on the user to [configure logging](https://www.elastic.co/guide/en/apm/agent/python/current/troubleshooting.html#agent-logging) for the agent. While this is technically "correct", it would be useful to be able to just set a config value to increase the verbosity of our logger. Obviously this assumes that there's a handler that will output our messages at that log level, but that

[2020-08-31 20:04] #696 closed

[2020-09-02 01:23] mr-ping commented on #906
Thanks. We use mysql in most of our apps. Its super helpful if you would support aiomysql in the future.

[2020-09-02 11:11] kuisathaverat opened #913 "[CI] unstash coverage reports can failed on some axis"
There are some cases that the coverage report is not stashed and causes a fail on the post stage

[code]

[2020-09-02 12:07] #913 closed

[2020-09-02 14:51] basepi commented on #755
Merged in #889

[2020-09-02 14:51] #755 closed

[2020-09-02 22:16] basepi commented on #906
@mr-ping Can you leave a +1 comment on https://github.com/elastic/apm-agent-python/issues/754? It's useful for prioritization.

[2020-09-04 21:18] basepi opened #917 "Implement sample_rate precision spec"
You can view the spec changes [here](https://github.com/elastic/apm/pull/335).

[2020-09-08 06:37] felixbarny opened #919 "Update SQL parser to parse all shared tests"
This parser should parse the following test cases:

https://github.com/elastic/apm-agent-go/blob/master/internal/sqlscanner/testdata/tests.json
https://github.com/elastic/apm-agent-go/blob/master/module/apmsql/testdata/signature_tests.json

Refers to https://github.com/elastic/apm/issues/13

[2020-09-08 06:42] beniwohli commented on #919
@felixbarny should we move those test cases to https://github.com/elastic/apm/tree/master/tests/agents/json-specs? I can open a PR

[2020-09-08 09:10] felixbarny commented on #919
Whoops, that was a copy/paste error. I've updated the links.

[2020-09-08 10:12] mikker commented on #919
One could argue that the token examples are an implementation detail and not strictly a requirement?

[2020-09-08 10:43] beniwohli commented on #919
Unfortunately, our current parser fails about half of the signature tests. I'll look into adapting the parser from the Go agent.

[2020-09-08 10:55] mikker commented on #919
The original Ruby implementation was also very far from living up to the examples. FWIW copying Andrew's Go implementation to Ruby was a fun challenge and the examples really helped.

https://github.com/elastic/apm-agent-ruby/pull/640

When it was done, we released it as an opt-in feature. Then after a while we flipped the defaults, making it opt-in to use the old implementation. Finally we remove

[2020-09-08 14:16] beniwohli opened #920 "Remove query string sanitization in 6.0"
To align with other agents, we should remove query string sanitization in the next major version.

See https://github.com/elastic/apm/pull/334

[2020-09-08 14:34] beniwohli opened #921 "Verify that `service.name` is required for data to be sent"
We got reports of data from the Python agent making it to the APM Server without `service.name` being set. `service_name` is a required configuration, and we set `disable_send` to `True` if it is missing, so there might be a bug somewhere there.

https://github.com/elastic/apm-agent-python/blob/1d8f1835e6c0ea207b8321ec63ddd0a34784b296/elasticapm/conf/__init__.py#L255

https://github.com/elastic/ap

[2020-09-10 14:10] gatos-cc opened #922 "Move certifi to an optional dependency"
**Describe the bug**: ...

https://github.com/elastic/apm-agent-python lists the license as `BSD-3-Clause`.  However https://pypi.org/project/liccheck/ reports that it pulls in `certifi` which has an MPL license:
[code]

My understanding of the MPL is that it is a copy-left license, which means it should have to appear in the larger work's license notification.  If that's the case, that's also pro

[2020-09-15 14:52] jfitz1 commented on #922
+1

[2020-09-17 14:58] gatos-cc opened #925 "Documents are not clear on testing mechanisms"
**Describe the bug**: ...

CONTRIBUTING.md contains the following:

README.md also points to [Running tests](https://www.elastic.co/guide/en/apm/agent/python/master/run-tests-locally.html)

Running tests contains the following:

That document does not however detail *how* to build/start the docker images.  It includes instructions on running `./tests/scripts/docker/run_tests.sh`, but as near as I

[2020-09-17 15:59] basepi commented on #925
Hey @gatos-cc! I guess I need to clarify that last note for running `py.test` -- that's a binary script which is installed with `pytest`, one of the requirements in those requirements files.

Honestly we don't expect anyone to run the integration tests before submitting a PR. If you can run the unit tests with pytest, that's plenty. I may do a bit of a restructure on that doc to make that clear.

[2020-09-17 16:07] gatos-cc commented on #925
Ah, that's fair.  I'm not normally a Python developer, so some of these things are probably obvious that I'm missing.  Just the nature of this project you're going to have devops type folks coming in that might be in a similar position.

I'll start with installing the requirements file and see where I get - thanks @basepi

[2020-09-17 16:13] basepi commented on #925
Sounds great! Please keep me posted if you have any other questions.

Another note: `./tests/scripts/docker/run_tests.sh` actually [does all the `docker compose` stuff](https://github.com/elastic/apm-agent-python/blob/fd32c6c07690f8b5b35a2819cdf18a504d84ba9c/tests/scripts/docker/run_tests.sh#L44-L63) for you. So if you do want to go above and beyond, that script should work -- if it doesn't, we'd

[2020-09-17 17:02] gatos-cc commented on #925
Yep - #926 looks good to me.  There are a lot of requirements files in that dir, but it looks like they all pull in reqs-base.txt, so most devs will be fine just picking whatever env they're running and be fine.

[2020-09-17 20:26] basepi commented on #925
That's the idea! Excellent, thanks for the follow-up.

[2020-09-18 17:36] #925 closed

[2020-09-18 20:06] basepi commented on #921
What constitutes lack of `service.name`? Was it completely absent from the payload?

As far as I can tell, if `service.name` isn't set, Beni is right, we don't send anything.

That said, I wonder if we could be seeing an interaction with an odd value here?

For example, [our RegexValidator](https://github.com/elastic/apm-agent-python/blob/1d8f1835e6c0ea207b8321ec63ddd0a34784b296/elasticapm/conf/__

[2020-09-18 20:29] basepi commented on #922
@gatos-cc Thanks for the question!

Let me preface this with the standard "I am not a lawyer" caveat. :) But here goes!

MPL 2.0 is quite a bit different than other copy-left licenses, in that it's "file-level", as opposed to "library level" (LGPL) or "software level" (GPL). This means that it's only copy-left for modifications to the MPL-licensed source code files. The only requirement for distri

[2020-09-18 23:51] gatos-cc commented on #922
For sure - I'm no lawyer either, and the language of MPL has us twisting around quite a bit.  Basically the root level CA certs are curated by Mozilla, so that master pem file has an MPL 2.0 license on it - as near as I can tell, just about everyone from Firefox to Chrome to Linux uses it.  Certifi just takes that and bundles it up into a library so you can dump it to a known location on disk for

[2020-09-21 06:43] simitt commented on #921
@basepi service names consisting of only spaces are allowed and processed by APM Server, and the service would even show up in Kibana (with the name being blank). I don't think this would explain the issue. Strings such as `"None"` or `"False"` are processed as regular strings, also showing up in Kibana.

[2020-09-21 13:50] beniwohli commented on #922
Hey @gatos-cc

also not a lawyer here, but just to be sure I asked our lawyers to have a look if there's anything iffy about us depending on an MPL-2 licensed project.

We did get requests to have the certificate location as a configuration option in the past. Also, our dependency on certifi comes from a much darker time (at least when it comes to SSL and Python). These days, urllib3 is pretty goo

[2020-09-21 16:56] gatos-cc commented on #922
Thanks @beniwohli .  Sounds reasonable.  In the meantime I may run a forked version that forces the cert location.

[2020-09-22 14:31] basepi opened #928 "Remove Python 2.7 Support"
Python 2.7 is EOL as of Jan 1, 2020. We should remove support in the next major version.

This will probably be a small refactor initially, just adding the official "deprecated" warning. Then assuming there is no big outcry we can start to remove all our `compat` code.

[2020-09-22 14:37] basepi opened #929 "Remove Python 3.5 support"
Python 3.5 hit EOL September 13, 2020. Support will be removed in our next major release.

[2020-09-22 16:14] basepi commented on #921
@beniwohli found the source of this issue, fixed in #927.

[2020-09-23 17:29] #921 closed

[2020-09-29 10:33] ca-simone-chiorazzo opened #934 "ElasticAPM 5.5.2 - Regression on pymongo"
**Describe the bug**:
Using pymongo 2.8 and elasticapm 5.5.2 we have the following error:

File /usr/local/lib/python2.7/site-packages/elasticapm/instrumentation/packages/base.py line 210 in call_if_sampling
return self.call(module, method, wrapped, instance, args, kwargs)
File /usr/local/lib/python2.7/site-packages/elasticapm/instrumentation/packages/pymongo.py line 77 in call
host, port = list(n

[2020-09-29 12:00] beniwohli commented on #934
Hey @ca-simone-chiorazzo

We only support [pymongo 2.9+](https://www.elastic.co/guide/en/apm/agent/python/current/supported-technologies.html#automatic-instrumentation-db-mongodb). If it used to work with earlier versions, that was coincidental. Can you try to use a newer version of pymongo?

[2020-09-29 12:17] ca-simone-chiorazzo commented on #934
Hi @beniwohli , thanks for the quick response. We gonna try with pymongo 2.9 and we'll let you know the result

[2020-09-29 14:50] gatos-cc commented on #925
Hey @basepi - sorry to tack on to a closed issue, but just want to make sure this isn't user error before opening a new issue.  Trying to run the unit tests, I'm on a CentOS docker image, running the following:
[code]

The output reports 28 skipped and 11 errors:
[code]

So... Is this user error, or are there legitimate issues?

[2020-09-29 16:09] basepi commented on #925
These are all issues stemming from tests that are only compatible with python3. That said, I thought we had automatically had pytest exclude these.....but perhaps on python2 we need to add an explicit exclude as a command line arg. Let me do some looking.

[2020-09-29 16:11] basepi commented on #925
Ah, I see. Try doing `make test` instead of `py.test` -- that should automatically add [the required flags](https://github.com/elastic/apm-agent-python/blob/master/Makefile#L17) to `py.test`.

I'll update the contributing docs.

[2020-09-29 19:36] gatos-cc commented on #925
Commenting out this guy:
[code]
everything passes

[2020-09-29 19:37] gatos-cc commented on #925
and actually, that's running on my host machine (macOS) not the Amazon Linux container

[2020-09-29 19:49] basepi commented on #925
Weird. I've never seen problems with that particular test. What platform are you working on?

[2020-09-29 20:14] gatos-cc commented on #925
Yeah - seems odd.  My full test:

Empty directory, add:
* Dockerfile (below)
* Fresh checkout of `apm-agent-python` (master)

Run `docker build -t test .`

Dockerfile:
[code]

Output:
[code]

[2020-09-29 20:15] gatos-cc commented on #925
Not critical for me personally - I can just comment out the test since it's not a regression and I don't think I'll be doing anything intersecting that test.

[2020-09-29 21:08] #908 closed

[2020-09-29 21:18] basepi commented on #925
Sure. Still annoying that it's failing. I may have to spin up a container and see what's going wrong, see if I can fix it....

[2020-09-30 07:58] eyalkoren opened #936 "Expand k8s pod ID discovery regex"
Implementing elastic/apm#344

[2020-09-30 17:26] basepi commented on #925
This was a bit mystifying to me for awhile, but then it dawned on me: you can't lock `root` out of read access to a file. That's why the test is failing, you need to be running the tests as non-root.

[2020-09-30 17:28] gatos-cc commented on #925
Ah.  Good catch.  Normally wouldn't run anything as root in a container, but for the tests I was just letting it go with defaults.

Thanks @basepi - I think I'm good now.

[2020-10-02 19:28] #888 closed

[2020-10-02 19:28] #917 closed

[2020-10-04 15:04] lauphil commented on #467
was this sorted. Having the same issue. able to connect to the apm server but times out when /intake/v2/events request is made.

[2020-10-05 17:28] basepi opened #941 "Add log_level spec"
Implementing elastic/apm#332

[2020-10-05 17:30] basepi commented on #909
Closing in favor of #941

[2020-10-05 17:30] #909 closed

[2020-10-05 17:32] basepi commented on #467
I'm not sure why the bot re-opened this issue, but it turned out to be a network issue, as shown by the last comment. If you're experiencing a similar issue, please feel free to open a new issue.

[2020-10-05 17:32] #467 closed

[2020-10-07 16:22] Rohit-dot-KumarAM commented on #853
As mentioned here https://www.elastic.co/guide/en/apm/agent/python/current/how-the-agent-works.html#how-it-works-framework-integration.

Tried searching for any hooks/signals if available for **kafka** as it is there for **celery**, but couldn't find any
If something similar for **kafka** exists, please share the info.

[2020-10-07 16:28] basepi commented on #857
Closing due to inactivity. Please comment if you'd like this to be re-opened!

[2020-10-07 16:28] #857 closed

[2020-10-07 16:30] basepi commented on #853
Yeah I don't think there are hooks, but we should be able to instrument the relevant pieces with our normal wrapping mechanism, and since modern kafka supports headers, we can now support distributed tracing as well. (Kafka support is already present in the Java agent, and we want to support it here as well.)

[2020-10-07 16:35] basepi commented on #16
We have support for tornado, starlette/fastapi and various async libraries as well. If there's continued interest in gevent, twisted, or others, we request that separate issues be made.

[2020-10-07 16:35] #16 closed

[2020-10-07 16:35] #34 closed

[2020-10-07 16:42] basepi commented on #236
Sounds like this is solved with newer versions of `gevent`. I'm going to close this, but if it's still an issue for anyone please comment and we'll re-open!

[2020-10-07 16:42] #236 closed

[2020-10-07 16:44] basepi commented on #290
Hello @tflorac! I'm going through and cleaning up older issues -- are you still interested in the ability to not capture the stack trace with `capture_span`? If so, would you mind opening a new issue with that feature request? I'm going to close this issue for now.

[2020-10-07 16:44] #290 closed

[2020-10-07 16:46] basepi commented on #296
I'm going to close this issue as it's fairly stale. Please comment if you have any more questions about processors!

[2020-10-07 16:46] #296 closed

[2020-10-07 16:46] basepi commented on #297
We have Tornado 6.0+ support as of [v5.4.0](https://github.com/elastic/apm-agent-python/releases/tag/v5.4.0)!

[2020-10-07 16:46] #297 closed

[2020-10-07 16:49] basepi commented on #298
As of https://github.com/elastic/apm-agent-python/pull/860 we have support for `sanitize_field_names`. I don't think we currently have plans for pattern matching values, but if that's still something that interests you, can you please open a new issue just for that enhancement request?

Thanks!

[2020-10-07 16:49] #298 closed

[2020-10-07 16:58] basepi commented on #305
I think this is enforced for most things at this point.

* SQL queries are shortened in [the `dbapi2` code](https://github.com/elastic/apm-agent-python/blob/00802b598cb49dc5c5c151417ddd7413a08e6339/elasticapm/instrumentation/packages/dbapi2.py#L231).
* Local vars are shortened in [the client code](https://github.com/elastic/apm-agent-python/blob/00802b598cb49dc5c5c151417ddd7413a08e6339/elasticapm/

[2020-10-07 17:02] basepi commented on #305
Just kidding. Found some more conversation in the cross-agent meta issue, I guess this is still in flux despite the issue-open date. Pardon my noise.

[2020-10-07 17:02] basepi commented on #306
Ref #305

[2020-10-07 17:13] basepi commented on #321
Closing, this may happen in the next major, but no consensus was found.

[2020-10-07 17:13] #321 closed

[2020-10-07 17:27] basepi commented on #354
@HonzaKral (or @sethmlarson) can you clarify why including `aggs` can be problematic for collecting the query? I recently "fixed" this in #940 because a user was complaining about the lack of `aggs` which were the important part of the query for his debugging.

For the additional information we could collect, I'm not sure where we would put it. We currently don't populate any custom context oursel

[2020-10-07 17:32] basepi commented on #382
I don't know why Zube re-opened this issue. Closing.

[2020-10-07 17:32] #382 closed

[2020-10-07 17:37] basepi commented on #414
With the introduction of `enabled`, `instrument` is a legacy config value and I don't think this work is worthwhile. Closing.

[2020-10-07 17:37] #414 closed

[2020-10-07 17:42] basepi commented on #428
Ref https://github.com/elastic/apm/issues/352

[2020-10-07 17:44] HonzaKral commented on #354
I don't see how including the whole body could be problematic, quite the opposite. The `_search` API is used for many other things besides just running a `query` (aggregations, suggestions, sorting, script fields, pagination, ... ...) all of which can have **significant** impact on performance and behavior and are therefore important to track.

We do provide information for `rows_affected` for SQL

[2020-10-07 17:58] basepi commented on #468
I'm pretty certain this was fixed in https://github.com/elastic/apm-agent-python/pull/602, as now `DroppedSpan` objects have an `id`.

I'm closing this, but if anyone is still seeing this error please comment, and we'll get it re-opened!

[2020-10-07 17:58] #468 closed

[2020-10-07 18:08] basepi commented on #489
I think what @beniwohli is saying is that a read is atomic, but a read+write is not (`inc`, `dec`). The only reason we need it on `reset` (which is also atomic) is to prevent an `inc` or `dec` operation from racing the `reset`. Thus, we lock anything that writes, but a straight read doesn't need it.

I'm going to close this issue, unless there's any other thoughts.

[2020-10-07 18:08] #489 closed

[2020-10-07 18:12] basepi commented on #499
It's possible that with modern versions of python (3.7+) that support `contextvars`, this now just works. Or, at least it will, once code and frameworks are updated to properly utilize and propagate `contextvars` across threads.

I'm going to close this since you had a workaround and `contextvars` are the future!

[2020-10-07 18:12] #499 closed

[2020-10-07 18:18] basepi commented on #633
This technically exists in https://www.elastic.co/guide/en/apm/agent/python/current/how-the-agent-works.html#how-it-works-no-framework

I've been itching to re-organize that, though, since it deserves to be top-level and easier-to-find. I'll probably do that today.

[2020-10-07 18:28] basepi commented on #681
Hey @romulorosa I still think this would be a cool addition. Would you mind opening a PR? Will be easier not to lose track of that way (rather than just a link to a diff).

[2020-10-07 18:30] basepi commented on #685
Sorry for the late reply here! I haven't spent a lot of time with our celery support, but it should be about as easy as running `register_instrumentation` and `register_exception_tracking` from our [celery integration](https://github.com/elastic/apm-agent-python/blob/master/elasticapm/contrib/celery/__init__.py).

[2020-10-07 18:31] basepi commented on #704
@starenka did changing the transport_class fix this issue for you?

[2020-10-07 18:37] basepi commented on #833
@HenrikOssipoff Is this a change you're still interested in contributing?

[2020-10-07 18:43] basepi commented on #354
Ah, I misread your original issue, I thought you were saying that we purposely only include the query because including the whole payload could be problematic. Glad my fix was a good one!

And thank you for pointing out `rows_affected` on the span context. I hadn't actually internalized that spans have their own context, and it doesn't have a standalone spec in the apm server repo. Rather, span co

[2020-10-07 18:48] basepi opened #942 "Add support for python agent as a log shipper to APM Server"
Multiple users have expressed love for our log shipping support in the Flask integration. We should extend this support as a first-class agent feature, to ease logs onboarding with Elastic Observability.

Implementation should wait for https://github.com/elastic/apm/pull/252 to be finalized.

**Additional context**
This issue replaces #845

[2020-10-07 18:48] basepi commented on #845
Closing in favor of #942.

[2020-10-07 18:48] #845 closed

[2020-10-08 09:21] romulorosa commented on #681
Hi @basepi, Here is the PR https://github.com/elastic/apm-agent-python/pull/943

I will add some tests, but before I would like to make sure that the behavior implemented fits your requirements.

[2020-10-08 09:41] Rohit-dot-KumarAM commented on #853
We did some effort to instrument at least **send()** from the **KafkaProducer** and **next()** from **KafkaConsumer** with  wrapping mechanism. But, we could do it only for django(When Kafka is being used as part of django Application).

[2020-10-12 17:11] #633 closed

[2020-10-13 19:36] renat473 opened #947 "support oracle database"
Hi,

Open issues for support trace oracle to python[flask] apm in designer parttner singleton.

refer : https://github.com/elastic/apm-agent-python/issues/574

[2020-10-15 22:38] basepi commented on #704
Closing this for now. Please comment if this is still an issue and we can open it again!

[2020-10-15 22:38] #704 closed

[2020-10-18 11:23] BrikerMan opened #948 "FastAPI record api pattern as name not specific end_point"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when API grouped by API names, for example, this is my API.

[code]

When I have API calls

- curl 127.0.0.1:8000/items/1
- curl 127.0.0.1:8000/items/2
- curl 127.0.0.1:8000/items/3
- curl 127.0.0.1:8000/items/4

Then it will show as 4 separate requests on the APM UI, rather than aggregated with the name `GET

[2020-10-18 14:08] BrikerMan commented on #948
Here is an example of how to access the API path in middle-ware, https://github.com/tiangolo/fastapi/issues/486.

[2020-10-18 14:17] BrikerMan commented on #948
Duplicated with https://github.com/elastic/apm-agent-python/issues/833, closed.

[2020-10-18 14:17] #948 closed

[2020-10-18 14:21] BrikerMan commented on #833
There is a solution mentioned here https://github.com/tiangolo/fastapi/issues/486#issuecomment-526892238, but it needs to iterate through all the routes for each request.

[code]

[2020-10-19 18:24] basepi commented on #833
Thanks. I think that's probably worthwhile overhead, the current implementation isn't super great.

[2020-10-20 01:45] BrikerMan commented on #833
Can't wait for the new version. Maybe we can make it an optional choice via an env variable.

[2020-10-20 15:21] basepi commented on #833
I'm honestly still leaning towards just making the change without backwards compatibility considerations. The starlette support is very new and the current behavior could probably be considered a bug. Thoughts?

[2020-10-21 03:36] BrikerMan commented on #833
In my use case, I am happy to fix this one a bug. I don't need old behavior.

[2020-10-21 19:13] HenrikOssipoff commented on #833
Sorry very late to the game - I can see @beniwohli has assigned himself, which is more than fine by me. Work's not leaving me much free time unfortunately.

Looking forward to the "fix" though - sorry for being slow here.

Personally I would say you shouldn't think about backwards compatibility for this one, given most likely very few people even use this particular integration, but that's my opin

[2020-10-27 19:05] cmontanaro opened #953 "ELASTIC_APM_RECORDING default value"
**Describe the bug**:

Documentation states that the default value of ELASTIC_APM_RECORDING is false but default is set to true in code

**To Reproduce**

% grep -r RECORDING *
docs/configuration.asciidoc:| `ELASTIC_APM_RECORDING` | `RECORDING`    | `false`
elasticapm/conf/__init__.py:    recording = _BoolConfigValue("RECORDING", default=True)

[2020-10-27 20:15] diegosperes opened #954 "Add a new function to the public api returning the current trace parent header."
**Is your feature request related to a problem? Please describe.**

Currently I am instrumenting a kafka consumer that receive a message containing the trace parent header to after begin a new transaction passing the `TraceParent` instance on `begin_transaction` method of `Client` class. The issue remains in the ability of easily get the current trace parent header in the service that is publishin

[2020-10-27 20:27] beniwohli commented on #953
@cmontanaro great catch! I opened #955 with the fix.

[2020-10-27 20:34] #953 closed

[2020-10-28 00:49] basepi commented on #709
Hey @ifmusic we discussed this in today's agents meeting and I don't think we're going to implement this for now. The main issues are targeting/security (a single environment variable will collect raw SQL from everything in the app which could collect unintended information while debugging a single query) as well as support surface (if we had this config available, we would be obliged to support i

[2020-10-28 00:49] #709 closed

[2020-10-28 08:38] beniwohli commented on #833
@HenrikOssipoff I opened #957 with (hopefully) a fix for this. If you have time, would you mind giving that a quick spin and see if it works?

I agree that backwards compatibility is not a major concern. I would consider the current behavior as buggy compared to our other integrations.

[2020-10-28 09:27] HenrikOssipoff commented on #833
@beniwohli Sweet I'll take it for a spin later tonight to test things out :)

[2020-10-28 14:37] romulorosa opened #959 "Transaction: Context Manager & Decorator"
**Is your feature request related to a problem? Please describe.**
No, it is not.

**Describe the solution you'd like**
Just for increasing the convenience of using Transactions, it would be nice to have an option for using them as a context manager and/or decorator, instead of calling `start_transaction` and `end_transaction` every time. It would be something like this:

[code]
as a decorator it

[2020-10-28 14:48] beniwohli commented on #959
Hey @romulorosa! We considered to implement this in the past, as it would indeed provide a very nice way to create transactions. The problem is that as far as we know, there is no good way to get a reference to the agent in the decorator (the `self` in your example).

One option would be to store it in a threadlocal variable, similar to what we do with the current transaction and current span, but

[2020-10-28 15:15] romulorosa commented on #959
@beniwohli Thanks for the quick feedback! You are right, it is not so that easy to get the agent reference (specially in the decorator). I will try to find some time to dive deeper in the code and see if I can get some insights here.
But at first glance, maybe it is possible to create both the decorator and the context manager in different files (`decorators.py` and `contextmanagers.py) as stand a

[2020-10-30 20:45] basepi commented on #954
Implemented in #956

[2020-10-30 20:45] #954 closed

[2020-10-31 16:36] JannikZed opened #966 "'FragmentDefinition' object has no attribute 'operation'""
**Describe the bug**:
I'm using elastic APM with Django 3.1.2 and graphql.
On every GraphQL Query, I'm seeing now this error: `AttributeError: 'FragmentDefinition' object has no attribute 'operation'`

The relevant file is: `elasticapm/instrumentation/packages/graphql.py in get_graphql_tx_name at line 99`

**To Reproduce**
I'm not sure yet, why the error is occurring and I'm just getting started w

[2020-10-31 21:23] JannikZed commented on #966
because of this error, all requests to my django app fail! .. so this is actually the worst case - the APM agent is killing a production service :(

[2020-11-01 19:14] romulorosa commented on #959
@beniwohli As I briefly described before here is my idea for having convenient contextmanager and decorators for transactions. I drafted some code to share with you and see if it makes any sense.

You can check it here https://github.com/romulorosa/apm-agent-python/pull/1

The basic idea here is to have a bootstrap method/class and use dependency injection in order to inject the client into the me

[2020-11-02 12:32] beniwohli commented on #966
Hi @JannikZed. Sorry about the issues you are having. Would you mind providing a complete stack trace for your error?

It's also possible that you are hit by an issue that https://github.com/elastic/apm-agent-python/pull/881 tries to solve. Would it be possible for you to try that PR in a dev environment to see if it fixes the issue?

[2020-11-02 13:10] JannikZed commented on #966
sounds like I'm hitting exactly that issue! I could definitely test that pull request in our dev environment. Could you tell me the quickest way to do that? Do all pull requests get build as NPM packages as well? Or do I need to checkout the github project and build the client locally? :)

[2020-11-02 16:13] beniwohli commented on #966
@JannikZed you should be able to install the patched agent like this:

    pip install "git+https://github.com/elastic/apm-agent-python.git@refs/pull/966/merge"

[2020-11-03 00:03] #966 closed

[2020-11-03 00:03] #681 closed

[2020-11-03 08:24] #936 closed

[2020-11-07 12:10] nhogan5 commented on #853
Would love to see this to complete the link in my distributed tracing chain!

[2020-11-07 15:55] JannikZed commented on #966
I can confirm, that the issue got fixed by this commit

[2020-11-09 22:31] #941 closed

[2020-11-12 16:28] AlexanderWert opened #969 "[META 321] Add log_level option to central Kibana configuration"
The log_level config option implemented in https://github.com/elastic/apm-agent-python/issues/941 needs to be added as a [Kibana config option](https://github.com/elastic/kibana/blob/master/x-pack/plugins/apm/common/agent_configuration/setting_definitions/general_settings.ts)

[2020-11-16 18:00] henrikno opened #972 "[META 355] Add support for shipping user-defined metrics (prometheus)"
**Is your feature request related to a problem? Please describe.**
We want to ship custom metrics that we collect in our python app via APM.

**Describe the solution you'd like**
APM agent is already shipping built-in app metrics such as CPU, memory, it would be nice if we can also add user-defined metrics to this. When using a well-defined metrics library such as prometheus_client it should ideal

[2020-11-17 14:15] #772 closed

[2020-11-17 15:36] #833 closed

[2020-11-18 08:41] #831 closed

[2020-11-18 08:41] #876 closed

[2020-11-18 16:14] basepi opened #975 "[R&D] Automatic instrumentation under Kubernetes"
Recently I took some time and [created a POC](https://github.com/elastic/apm-agent-python/compare/master...basepi:wrapper?expand=1) for import hook instrumentation in the agent. This lays the groundwork for a wrapper-based model similar to that of the opentelemetry agent.

Before we put a lot of investment into this, we want to establish whether this will actually allow us to do automatic instrume

[2020-11-18 21:32] basepi opened #976 "Add `transaction_ignore_urls` to config docs"
#923 forgot to add the [configuration docs](https://www.elastic.co/guide/en/apm/agent/python/current/configuration.html).

[2020-11-19 20:16] JBauto commented on #562
I'm getting this issue with elastic-apm==5.10.0.

- OS: Fedora 32
- Python version: 3.8.6
- Framework and version: FastAPI==0.61.2 & Uvicorn==0.12.2
- APM Server version: 7.10
- Agent version: 5.10.0

The error is basically the same,

[code]

I'm initializing ElasticAPM as,

[code]

Not sure what's causing it but only happens when Uvicorn is starting workers for the first time.

Thanks!

[2020-11-20 15:07] beniwohli commented on #562
@JBauto I opened https://github.com/elastic/apm-agent-python/pull/979 to address this. In addition to catching the `JSONDecodeError`, we also log the response we got from APM Server. Would you mind trying to install this in a development/staging environment and checking what the log message says exactly? You can install the code from the PR like so:

    pip install "git+https://github.com/elastic

[2020-11-20 17:35] JBauto commented on #562
Commented [here](https://github.com/elastic/apm-agent-python/pull/979#issuecomment-731294385).

[2020-12-02 08:18] graingert commented on #928
Also pyupgrade

[2020-12-03 22:01] #969 closed

[2020-12-04 17:41] bmorelli25 opened #983 "docs: Add "added in version x" to the API reference"
Like other agents, we should document which version each API call was added to the Python agent. This is particularly important because we only publish documentation per major.

I should be able to add this to my 7.11 to-do list.

[2020-12-10 16:26] #983 closed

[2020-12-12 20:27] nottheswimmer opened #985 "FileNotFoundError in Google App Engine"
**Describe the bug**:

Whenever running on a Linux environment where the file `/sys/fs/cgroup/memory/memory.usage_in_bytes` is not available (e.g. Google App Engine), a FileNotFoundError is raised when loading elasticapm installed to a Django web application.

**To Reproduce**

1. Create a Django application.
2. Add elasticapm.contrib.django as an INSTALLED_APP configured with a SERVICE_NAME, SECR

[2020-12-13 17:05] wangjiancn opened #986 "occasionally raise Exception: too many values to unpack (expected 2) and 'NoneType' object is not iterable"
**Describe the bug**:

occasionally raise Exception: too many values to unpack (expected 2) and 'NoneType' object is not iterable

![image](https://user-images.githubusercontent.com/37948697/102018341-a90d8380-3da7-11eb-9f5d-f88dfa5b00fe.png)

![image](https://user-images.githubusercontent.com/37948697/102018489-7a43dd00-3da8-11eb-99c6-d41eaa91d0c9.png)

**To Reproduce**

can not reproduce, it hap

[2020-12-14 09:27] AlexanderWert opened #988 "Ensure transaction_ignore_urls is centrally configurable"
Meta issue https://github.com/elastic/apm/issues/144 has been implemented in https://github.com/elastic/apm-agent-python/issues/772.

Configuration option has been added in Kibana for the Python agent: https://github.com/elastic/kibana/pull/85734

**The purpose of this issue is to make sure that agent supports central configuration for this option.**

[2020-12-14 09:40] beniwohli commented on #988
Hey @AlexanderWert

this is already implemented and tested. We ensure that configuration updates by central config are respected by calling `config.update()` in the test and then asserting that the new configuration has the expected effect, e.g.

https://github.com/elastic/apm-agent-python/blob/d829eae7d6065d598f65fce797eed5fbe52e6ef0/tests/client/client_tests.py#L376-L392

https://github.com/elas

[2020-12-14 09:40] #988 closed

[2020-12-15 10:08] #985 closed

[2020-12-15 15:04] beniwohli commented on #985
@nottheswimmer thanks for the heads up! I've implemented a fix, and we'll ship a bugfix release in the coming days!

[2020-12-21 08:03] AlexanderWert opened #990 "[META 388] Collect Azure App Service cloud metadata"
Implement https://github.com/elastic/apm/issues/388

[2020-12-27 14:06] Asaf-m opened #991 "APM agent crashes if the SQL query is too large"
**Describe the bug**: ...
Same as https://github.com/elastic/apm-agent-python/issues/827, but with `psycopg2` library instead of Django ORM.

**To Reproduce**

1. use any of `psycopg2` extra utilities, for example `execute_values`, with a query that is sufficiently long.

**Environment (please complete the following information)**
- OS: mac
- Python version: 3.7
- APM Server version: ?
- Agent ver

[2020-12-27 14:07] Asaf-m commented on #991
@basepi I see you fixed it last time. it's an easy fix here as well. I can send PR if want...

[2020-12-28 07:25] Asaf-m opened #992 "`capture_message` displayed as error in Kibana."
**Describe the bug**:

Not exactly a bug, more of a question.
`capture_message` creates an `ERROR` event that is shown as error in Kibana.
Is there a way to capture events that aren't errors?

Relevant code: [`capture_message()`](https://github.com/elastic/apm-agent-python/blob/master/elasticapm/base.py#L237-L243) that calls [`capture()`](https://github.com/elastic/apm-agent-python/blob/master/ela

[2020-12-29 08:16] ca-simone-chiorazzo commented on #934
@beniwohli It worked. I close the issue. Thanks a lot for the help!

[2020-12-29 08:16] #934 closed

[2020-12-29 08:20] ca-simone-chiorazzo opened #993 "Unhandled exception with FastAPI and client disabled blocks the response"
**Describe the bug**: ...
Using FastAPI and the ElasticAPM middleware, we noticed that for an **api view** with APM **disabled** (via config) the HTTP call goes stuck in the method "capture_exception" that never returns.

**To Reproduce**

1. ... Install fast API and APM client
2. ...Install ElasticAPM middleware and configure client with *enabled=false*
3. ...Raise an unhandled exception from an

[2021-01-04 09:33] ajay1mg commented on #521
@harshanarayana is there any update on this? have you resurrected this PR?

[2021-01-04 12:14] beniwohli commented on #992
Hi @Asaf-m

This works as intended. Elastic APM currently only knows a few event types (`TRANSACTION`, `SPAN`, `ERROR`, and `METRIC`).

We are looking into adding log shipping to the agent itself, which would probably fit your use case better. I can't give a timeline on that, though,

[2021-01-04 12:14] #992 closed

[2021-01-04 13:15] beniwohli commented on #991
@Asaf-m I opened a PR with a fix, #994.

[2021-01-04 15:17] beniwohli commented on #993
Hi @ca-simone-chiorazzo

I tried reproducing this first in a test (albeit just with Starlette, which is the layer we hook into), and then by adding an `assert False` [here](https://github.com/nsidnev/fastapi-realworld-example-app/blob/master/app/api/routes/tags.py#L14) in [fastapi-realworld-example-app](https://github.com/nsidnev/fastapi-realworld-example-app). I didn't notice anything blocking wi

[2021-01-04 15:46] ca-simone-chiorazzo commented on #993
Hi @beniwohli

thanks to having given a look to this issue.

I've tried what you suggest, but once I hit `Ctrl-C` uvicorn tries to wait for pending connections forever..

I report here the log:
[code]

[2021-01-04 16:14] beniwohli commented on #993
@ca-simone-chiorazzo I see you have Rollbar installed. Do you see the same behavior if Rollbar is disabled?

[2021-01-04 16:23] ca-simone-chiorazzo commented on #993
@beniwohli Nope. Rollbar is currently disabled but it does not hang the application for an unhandled exception. If I remove the ElasticAPM middleware all return to works fine (with still rollbar installed and disabled)

[2021-01-05 13:13] HenrikOssipoff opened #997 "5.10.0 "kind of" regression for elasticsearch instrumentation due to logging of whole body"
**Describe the bug**:

The elasticsearch library makes it possible to define your own custom serializer as part of the library. However, the Python agent doesn't take this into account, which can lead to wrong request bodies being collected, and it is possible to downright crash the agent (which unfortunately was what happened to us).

The problem seems to have happened with #940.

**To Reproduce

[2021-01-05 13:13] HenrikOssipoff commented on #997
If anyone else is seeing this, the only fix I've found is to simply downgrade the python agent to <5.10.0 for now.

[2021-01-05 15:30] #991 closed

[2021-01-05 22:42] basepi commented on #997
@HenrikOssipoff I think I have managed to implement your "best case" above in #998. Can you please double check by testing for me?

[2021-01-05 22:55] HenrikOssipoff commented on #997
@basepi Thank you for looking at it so quick - #998 works like a charm!

I realise this is likely an immense edge case; I doubt many people are using proxy objects as keys for their Elasticsearch queries - so we're very happy to see a fix in the work so fast :)

[2021-01-06 16:40] basepi commented on #997
Eh, it's an edge case but we should play nice with custom serializers since they're a feature of our own elasticsearch client. The error was definitely unacceptable.

[2021-01-06 23:59] #997 closed

[2021-01-07 17:17] basepi commented on #993
@ca-simone-chiorazzo Can you try to create a smaller reproduction case for us? It seems to me that this must be some interaction with your environment or other dependencies, since @beniwohli [tried with the fastapi-realworld-example-app](https://github.com/elastic/apm-agent-python/issues/993#issuecomment-754035433) above.

For example, although rollbar is disabled, it may still be setting up some

[2021-01-07 17:46] basepi commented on #993
I did spot a potential issue as well -- if you get a moment can you try setting `instrument=False` along with `enabled=False`? It appears we may be instrumenting for starlette even if the agent is disabled. I'm going to fix that shortly but it would also be nice to verify that's the problem.

[2021-01-07 17:56] ca-simone-chiorazzo commented on #993
@basepi It's the same result of my initial investigation on the issue, but I've not found the culprit point. I was also noticing that the enabled config was not considered in the "capture_exception" method of the middleware.

I've tried with the following settings

[code]

but the problem persists.

I can prepare a reproducible demo as soon as I've time

[2021-01-07 19:18] basepi commented on #993
Thanks, we would appreciate that, it would be very helpful.

[2021-01-07 21:57] basepi commented on #986
Apologies for our late reply here. The holidays and all that. I'm going to take a look at this.

[2021-01-14 06:56] AlexanderWert opened #1004 "[META 355] Support Prometheus Metric Libraries"
Implement https://github.com/elastic/apm/issues/355

[2021-01-14 06:58] AlexanderWert opened #1005 "[META 355] Documentation for Prometheus Support"
Write documentation for the Prometheus Metrics feature.

Meta issue: https://github.com/elastic/apm/issues/355

[2021-01-14 07:58] AlexanderWert opened #1006 "[META 373] Support replacement of plain-text formatters with ECS formatters"
Evaluate and if applicable implement https://github.com/elastic/apm/issues/373

[2021-01-14 08:00] AlexanderWert opened #1007 "[META 373] Extend ECS logging documentation"
Extend the ECS logging documentation to cover ECS formatters replacement (if applicable) as described in https://github.com/elastic/apm/issues/373

Ref #1006

[2021-01-14 08:29] AlexanderWert opened #1008 "[META 382] Zero-configuration support"
Implement zero-configuration support for the agent as described in: https://github.com/elastic/apm/issues/382

SPEC issue: https://github.com/elastic/apm/issues/401

[2021-01-14 08:37] AlexanderWert opened #1009 "[META 381] Add agent installation instructions to APM integration page"
Add agent installation instructions to the APM integration dialog in the Fleet integration UI.

This issue is mainly about coordinating and tracking the efforts (from APM agent's perspective) needed to achieve the goal described in https://github.com/elastic/apm/issues/381

[2021-01-15 10:01] nadworny commented on #942
hi @basepi, I just wanted to ask if this issue is on your roadmap and if we could somehow help? We'd also love to use it and since @zero0nee is eager to help with the implementation, maybe we could get some traction here?

@zero0nee did you find a workaround in the meantime since you opened the issue 6 months back?

[2021-01-15 16:10] basepi commented on #942
We don't have this on our short-term roadmap. Though if you combine https://github.com/elastic/ecs-logging-python with Filebeat, that's the best way to ingest your logs into Elasticsearch.

[2021-01-18 20:02] flimebelt commented on #441
Just a quick test, follow my...

================
api.py
================
# APM Server
app.config['ELASTIC_APM'] = {
    'SERVICE_NAME': __service_name,
    # 'SECRET_TOKEN': '',
    'SERVER_URL': os.environ.get('ELASTIC_APM_URL', 'http://localhost:8200')
}
apm = ElasticAPM(app)

================
wsgi.py
================
import os

from elasticapm.handlers.logging import LoggingHandler
from api im

[2021-01-19 02:58] Ackerr opened #1010 "Random appear io timeout error"
**Describe the bug**:

Every once in a while，all project use `apm-agent-python` will report an error.
[code]
but `apm-server` is normal and dont found related error report。

**To Reproduce**

1. restart apm-server (i think this because apm-server is not graceful shutdown)
2. random appear

**Environment (please complete the following information)**
- OS: [e.g. Linux] Linux
- Python version: 3.8.7

[2021-01-19 15:44] basepi commented on #1010
Are you seeing any crashing or data loss along with this error? I'm not sure that these error logs are something you need to necessarily worry about, especially if you're making them happen with an APM Server restart.

[2021-01-19 16:11] Ackerr commented on #1010
Only found “forbidden requests” error in apm-server. I think it’s not urgent, but sometimes multiple agents will report this error at the same time on sentry.

[2021-01-19 16:14] Ackerr commented on #1010
[More context](https://discuss.elastic.co/t/random-appear-io-timeout-error-unable-to-reach-apm-server-read-timed-out/261488/2)

[2021-01-19 16:38] basepi commented on #1010
If multiple agents are reporting this at the same time, it leads me to believe it may be a brief network issue. I think the error is warranted in this case.

[2021-01-19 22:10] basepi commented on #986
@wangjiancn I think I've tracked down the source of the `'NoneType' object is not iterable` errors.

Can you show me the rest of the stack trace from the `ValueError: too many values to unpack` please? It's very helpful to see the calling code path so I can see where the weird values may be coming from. The second screenshot has those additional lines of context in the bottom third, that's what I'

[2021-01-20 06:02] Ackerr commented on #1010
I try add lifecycle in apm-server.yml. Now, Then `rollout restart` apm-server，no more errors report.

[code]
Random appear the error，not sure if it's because apm-server `queue.mem.events` set too large .

[2021-01-20 15:58] beniwohli commented on #922
@gatos-cc our plan changed a bit, since we've since noticed that especially in Docker images based on Debian, the default certificate bundle is often not available.

So, instead of removing certifi altogether, we'll make the [import](https://github.com/elastic/apm-agent-python/blob/d2dc959d825c29c32d4adf2c017c897c2b199004/elasticapm/transport/http.py#L38) conditional, and set `ca_certs` to `None`

[2021-01-26 08:20] beniwohli commented on #922
closed in #1016

[2021-01-26 08:20] #922 closed

[2021-01-26 16:59] basepi commented on #1010
It seems to me that this should be solvable via tweaking on the server side. I'm going to close this issue in favor of the discuss.elastic.co thread you linked above.

[2021-01-26 16:59] #1010 closed

[2021-01-26 20:33] rodaddy opened #1018 "Python Agent unable to connect to APM-server"
Errors when trying to send message to APM Server from non framework python test application.

- run the sample.py script from a 3.6.8 virtEnv
<details>
    <summary>Click to expand Trace from script</summary>

[code]

  </details>

- The thing I not about the error is that the return is expecting a "str", but gets a "b'dif_str'"

**Environment (please complete the following information)**
- OS: Te

[2021-01-27 13:52] beniwohli commented on #1018
Hey @rodaddy

I think the error message (`urllib3.exceptions.SSLError: Fingerprints did not match. Expected "13efb...", got "b'81799...'"`) is due to the fact that urllib3 uses [`hexlify`](https://docs.python.org/3/library/binascii.html#binascii.hexlify) when creating the error message ([here](https://github.com/urllib3/urllib3/blob/main/src/urllib3/util/ssl_.py#L124-L126)). `hexlify` returns a by

[2021-01-27 23:21] basepi opened #1019 "Wrapper script for no-code-changes onboarding"
Making code changes optional for agent onboarding would be a win, allowing more flexibility with an ops-led onboarding story.

Should be doable with a pythonpath insertion and a `sitecustomize.py` in the target path.

[Meta](https://github.com/elastic/apm-agent-python/issues/1600)

[2021-01-27 23:53] basepi opened #1020 "Remove py2 leftovers"
This is an issue to track all of the py2 stuff we can remove once a sufficient waiting period after 6.0 has passed.

- [x] Remove `zerorpc` (py2 only)
- [x] Remove `compat.py`
- [x] Run `pyupgrade`?

Ref #928

[2021-01-28 11:20] AlexanderWert commented on #1004
Addressed in https://github.com/elastic/apm/issues/375

[2021-01-28 11:20] #1004 closed

[2021-01-28 17:09] #928 closed

[2021-01-28 17:09] #929 closed

[2021-01-28 18:09] #419 closed

[2021-01-28 19:21] #904 closed

[2021-01-28 19:21] #920 closed

[2021-01-28 21:32] HonzaKral opened #1022 "Support for google API client (via httplib2)"
**Describe the solution you'd like**: I would like http requests done by `httplib2` captured the same as from the other http libraries.

**Additional context**: `httplib2` library is used in the [google API client](https://github.com/googleapis/google-api-python-client) which would be extremely useful to see as spans.

I would be happy to work on a PR if it would be accepted.

Thank you!

[2021-01-29 07:48] AlexanderWert opened #1023 "[META 408] Instrumentation for DynamoDB"
Provide instrumentation support for DynamoDB.

Meta issue: https://github.com/elastic/apm/issues/408
SPEC: https://github.com/elastic/apm/issues/409

[2021-01-29 07:48] beniwohli commented on #1022
Hey @HonzaKral! Yes, that seems like a sizeable gap in our instrumentation story! A PR would be great! The [`urllib3`](https://github.com/elastic/apm-agent-python/blob/15278433c97d9c81c5ad1dcdf57d27da847be912/elasticapm/instrumentation/packages/urllib3.py) instrumentation and [tests](https://github.com/elastic/apm-agent-python/blob/15278433c97d9c81c5ad1dcdf57d27da847be912/tests/instrumentation/url

[2021-01-29 07:52] AlexanderWert opened #1024 "[META 408] Instrumentation for AWS S3"
Provide instrumentation for AWS S3.

Meta issue: elastic/apm#408
SPEC: elastic/apm#409

[2021-01-29 07:54] AlexanderWert opened #1025 "[META 408] Instrumentation for AWS SNS"
Provide instrumentation for AWS SNS.

Meta issue: elastic/apm#408
SPEC: elastic/apm#409

[2021-01-29 07:56] AlexanderWert opened #1026 "[META 408] Instrumentation for AWS SQS"
Provide instrumentation for AWS SQS.

Meta issue: elastic/apm#408
SPEC: elastic/apm#409

[2021-01-29 10:18] AlexanderWert opened #1027 "[META 410] Instrumentation for CosmosDB"
Provide instrumentation for Azure CosmosDB.

Meta issue: elastic/apm#410
SPEC: elastic/apm#411

[2021-01-29 10:20] AlexanderWert opened #1028 "[META 410] Instrumentation for Azure Storage"
Provide instrumentation for Azure Storage.

Meta issue: elastic/apm#410
SPEC: elastic/apm#411

[2021-01-29 10:21] AlexanderWert opened #1029 "[META 410] Instrumentation for Azure Queue"
Provide instrumentation for Azure Queue.

Meta issue: elastic/apm#410
SPEC: elastic/apm#411

[2021-01-29 10:22] AlexanderWert opened #1030 "[META 410] Instrumentation for Azure ServiceBus"
Provide instrumentation for Azure ServiceBus.

Meta issue: elastic/apm#410
SPEC: elastic/apm#411

[2021-01-31 13:27] Syniex opened #1032 "capture_body makes requests hangs / validation error"
**Describe the bug**:
When using CAPTURE_BODY:
1) "all" - you get "validation error: error: context: request: 'body': validation rule 'types(string;map[string]interface)' violated "
2) "errors" - sending httpx request to unreachable address, the client gets stuck and no repsonse is returned to the client

**To Reproduce**

1. Create FastAPI.
2. do any request using  httpx.AsyncClient to unknown re

[2021-01-31 14:28] Syniex commented on #1032
After debugging a little, it's related to the body payload, it seems flat body like: [10,20] will make it not work

[2021-02-01 17:22] basepi commented on #986
@wangjiancn If I don't hear from you in the next week I'm going to submit my fix in #1012 and close this issue.

[2021-02-01 17:27] basepi commented on #1032
@Syniex To clarify, using a flat body like that will make the request hang? Does it hang even without the agent present? If the agent makes the application hang for any reason, we consider that a bug.

[2021-02-01 19:03] Syniex commented on #1032
without the agent the application doesn't hangs.

[2021-02-01 22:33] Syniex commented on #1032
I will provide code tomorrow, and dig deeper to it.

[2021-02-02 16:15] basepi commented on #1032
Thank you. This sounds like something we would like to fix.

[2021-02-02 20:34] Syniex commented on #1032
`python
from typing import List

import httpx
import uvicorn
from elasticapm.contrib.starlette import ElasticAPM, make_apm_client
from fastapi import FastAPI
from pydantic import BaseModel

class Point(BaseModel):
    coordinates: List[float]

app = FastAPI()
apm_config = {
    "SERVICE_NAME": "testing",
    "ENABLED": True,
    "SERVER_URL": "http://localhost:8200",
    "CAPTURE_HEADERS": True,

[2021-02-03 14:49] pypae opened #1036 "Inaccurate transaction names for FastAPI sub-applications"
**Description**
For requests to endpoints defined in FastAPI sub-applications, the mount path is chosen as the transaction name. I expected the full route of the endpoint.

**To Reproduce**

1. Run the following simple FastAPI app:

[code]

2.
- **Observed behavior**
The transactions of `/sub/hi` and `/sub/bye` are both named `/sub` and grouped.
![transactions](https://user-images.githubuserconten

[2021-02-05 21:32] stephan-erb-by opened #1040 "Logging integration to capture all logged exceptions"
**Is your feature request related to a problem? Please describe.**
Instrumenting an existing application can be cumbersome: All places with exception handling need to be extend in order to also forward the errors to APM using `client.capture_exception()`. However, most of the time such code paths are already well covered with `logger.exception(...)` or similar.

**Describe the solution you'd like*

[2021-02-05 22:11] Syniex commented on #1032
@basepi I checked the commit and the application doesn't hangs anymore.

but the Validation error is still there.

[code]

[2021-02-08 15:40] basepi commented on #1040
Thanks for the request! Ref https://github.com/elastic/apm-agent-python/issues/942

[2021-02-08 15:42] basepi commented on #1032
Oh, right, sorry, I got so hung up on the hang (which was definitely the biggest problem) that I forgot to look at the validation issues. Thanks for attaching an example error, that will be helpful.

[2021-02-16 22:48] thenewguy opened #1046 "Clarify ASGI support"
There is conflicting documentation around supporting ASGI.

For example, https://github.com/elastic/apm-agent-python/blob/63fbeb971e40bf3d967b345e4217085335d28b5b/CHANGELOG.asciidoc#bug-fixes-6 and https://github.com/elastic/apm-agent-python/blob/c04c634aca50cffdb6b6c174a30629b0749193cb/docs/supported-technologies.asciidoc#django

The ASGI issues with Django appear to be resolved https://github.co

[2021-02-17 00:58] #1008 closed

[2021-02-17 14:59] thenewguy opened #1047 "Django Middleware and ASGI"
I read that middleware was working last March per https://github.com/elastic/apm-agent-python/issues/737#issuecomment-597288157 so I have been investigating a transition from WSGI to ASGI.

I am hitting this problem:

[code]

Relevant packages per the linked issue comment
[code]

Any tips?

[2021-02-17 15:15] beniwohli commented on #1047
@thenewguy looking at the traceback, it's not immediately clear to me that this is caused by the agent. Does the error disappear if you remove `elasticapm` from `INSTALLED_APPS`?

[2021-02-17 15:31] thenewguy commented on #1047
`ELASTIC_APM_DJANGO_AUTOINSERT_MIDDLEWARE = False` would be the same thing right?

[2021-02-17 15:36] #1032 closed

[2021-02-17 15:48] beniwohli commented on #1047
@thenewguy actually, can you first try with `export ELASTIC_APM_INSTRUMENT_DJANGO_MIDDLEWARE=False`? By default, we instrument all class based middleware so we can detect redirects that are caused by a middleware and not a view. But reading through Django's docs, we might not handle that correctly. Changing this setting to `False` only deactivates that redirect-detection, everything else should wo

[2021-02-17 15:55] thenewguy commented on #1047
No change with the env var

[2021-02-17 18:26] #986 closed

[2021-02-17 23:40] thenewguy commented on #1047
After removing elasticapm from installed apps it seems like this isn't an elasticapm problem and it was just in the traceback.

Should there be an issue for `export ELASTIC_APM_INSTRUMENT_DJANGO_MIDDLEWARE=False` not preventing the middleware from being installed?

[2021-02-17 23:40] #1047 closed

[2021-02-18 08:52] beniwohli commented on #1047
@thenewguy `ELASTIC_APM_INSTRUMENT_DJANGO_MIDDLEWARE` doesn't prevent installation of our middleware, but instrumentation of all other middleware. I suspected that there could be an issue with our middleware instrumentation, but that turned out to be not the case.

[2021-02-18 09:25] beniwohli commented on #1046
@thenewguy great find!

One thing I'd like to clarify before we declare that we're actually supporting ASGI is if the agent works correctly with async views. I'm not sure if we'll track the execution context correctly across async-to-sync boundaries (e.g. when doing ORM queries in an async view).

[2021-02-19 09:25] philipp-sontag-by opened #1049 "Using use_elastic_excepthook throws TypeError"
**Describe the bug**:
When using the option [use_elastic_excepthook](https://www.elastic.co/guide/en/apm/agent/python/master/configuration.html#config-use-elastic-excepthook) every uncaught exception also produces the following `TypeError`:

[code]

**To Reproduce**

Run the following Python snippet
[code]
It will produce this output:

[code]

**Environment (please complete the following informati

[2021-02-19 18:55] basepi commented on #1049
Thanks for reporting this! We'll get it fixed.

[2021-02-19 19:46] #1036 closed

[2021-02-22 18:28] basepi commented on #1018
@rodaddy Any updates here?

[2021-02-22 18:29] basepi commented on #993
@ca-simone-chiorazzo any chance you have time to help get us a reproduction case here? We'd really like to get this fixed.

[2021-02-22 18:31] basepi commented on #975
I'm going to close this for now. I can't imagine kubernetes magically solving this for us beyond trying to override entry points in other containers which seems like a pretty brittle way to solve these problems. Instead, we're going to focus on improving onboarding via #1019

[2021-02-22 18:31] #975 closed

[2021-02-24 15:58] basepi opened #1052 "Add gherkin tests for outcome.feature"
https://github.com/elastic/apm-agent-python/blob/master/tests/bdd/features/outcome.feature was added from upstream and we don't currently test it.

[2021-02-24 23:14] mkkeffeler commented on #499
Seems like this may not work now. I got this error

[code]

[2021-02-25 17:19] basepi commented on #499
@mkkeffeler would you mind opening a new issue? It's not obvious to me what's going wrong in the logs you've provided, we'll probably need more details about how to reproduce this issue (and whether it goes away without the agent enabled).

[2021-02-28 18:44] chiora93 commented on #993
@basepi Sorry for the late, I've tried to reproduce it on my personal windows computer without any success using the following setup:

main.py
[code]
requirements.txt
[code]

I'll try to reproduce it on the MacBook (where I encountered the issue the first time) as soon as I have time

[2021-03-01 16:01] basepi commented on #993
No problem. Since you've been unable to reproduce so far, I'm going to close this for now. Please comment if you manage to reproduce it and we'll get it re-opened!

[2021-03-01 16:01] #993 closed

[2021-03-03 22:54] Sumanth5 commented on #710
I followed the same steps but I am getting this error.
[code]

[2021-03-04 09:23] beniwohli commented on #710
@Sumanth5 support for aiohttp has been merged a while ago, you should be good with just `pip install elastic-apm`

[2021-03-04 14:42] josefkorbel opened #1059 "Accessing APM client in Django Integration"
Hello!

I am using APM integration for Django, everything works fine, however I am doing some tasks on background in uWSGI spooler and want to connect the trace for the HTTP request (invocation).

However I cannot find a way to access the APM client object in django (as django is initializing this automatically and the docs says I should treat it as singletone - I dont want to create new instance

[2021-03-04 15:44] basepi commented on #1059
@josefkorbel The `elasticapm.get_client()` function is new, and has not been released yet. But that will be the easiest way for you to get the client once we release a new version of the agent. You could try installing from `master` to test, in the meantime.

[2021-03-04 15:44] #1059 closed

[2021-03-04 16:14] Sumanth5 commented on #710
Nope,
I have an error:
`from elasticapm.contrib.flask import ElasticAPM
ModuleNotFoundError: No module named 'elasticapm'`

[2021-03-05 09:12] josefkorbel commented on #1059
Thank you very much for such a fast reply, I'll test with master.

[2021-03-08 14:44] beniwohli opened #1060 "Add support for Django 3.2"
Django 3.2 is slated for a release in April. Running the test suite, a few problems came up:

- [ ] App label needs to be a valid Python identifier, ours is not (renaming it from `elasticapm.contrib.django` to `elasticapm` should suffice)

Several test failures:

- [ ] `test_broken_500_handler_with_middleware`
- [ ] `test_404_middleware`
- [ ] `test_response_error_id_middleware`
- [ ] `test_django

[2021-03-08 16:25] #1006 closed

[2021-03-09 15:52] #1049 closed

[2021-03-09 16:17] basepi opened #1062 "Public API to set `destination.service` fields on spans"
Currently, a user must edit the context dictionary in order to set `destination.service` fields on a span in order to properly populate the service map feature in Kibana.

We should add a public API call to set this data easily for custom spans.

[2021-03-11 14:06] ccorbacho opened #1067 "Traceback from agent on max spans"
**Describe the bug**: ...

We are seeing the following traceback coming out of the ElasticAPM agent via Sentry frequently on many of our environments.

[code]

**To Reproduce**

Unknown. However, Sentry shows a lot of POST requests going to the APM server before this happens. Our assumption is that we are hitting TRANSACTION_MAX_SPANS, but this is not being handled gracefully, and causing this exc

[2021-03-11 14:27] beniwohli commented on #1067
Hey @ccorbacho. Good find! The problem here occurs in our remote configuration updater. Do you per chance set the `transaction_max_spans` configuration via remote config in Kibana?

Specifically, from the looks of it, this would happen if a setting is configured via Kibana, but then later on removed. If we detect that a remote configuration has been removed, we revert to the original configuration

[2021-03-11 16:32] #1007 closed

[2021-03-11 17:17] ccorbacho commented on #1067
Yes, we do currently have TRANSACTION_MAX_SPANS set via the remote config as well.

[2021-03-15 08:01] AlexanderWert opened #1069 "[META 424] Public API extended by destination fields"
Extend the public API of the agent to allow setting destination fields as described in https://github.com/elastic/apm/issues/424 .

[2021-03-15 09:55] josefkorbel opened #1070 "No spans in APM when transaction is active"
Hello! I have tried to use master branch to connect the dots in async background tasks (using the `elasticapm.get_client`)

Here is my "stack"
[code]

 This somehow works, and I can see the whole transaction in APM even though the request only submits the tasks to queue and returns immidately after few miliseconds, so it is correctly paired with the trace id.

![Screenshot from 2021-03-15 10-35-11

[2021-03-15 18:15] sparrowt opened #1071 "dbapi2 extract_signature omits T-SQL table name if in square brackets"
**Describe the bug**: the shortened SQL signature used as the span name (for dbapi2 database queries) does not show the table name but only a single square bracket `[` if the SQL query uses T-SQL `[table_name]` syntax.

**To Reproduce**

1. With the environment as listed below, use Django to make any old SELECT query to an MS SQL database - it will look like e.g:
```SELECT [table_name].[id], [tabl

[2021-03-16 09:12] felixbarny commented on #1071
Should be fixed with #919, which will extract `SELECT FROM table_name`.

[2021-03-16 11:01] sparrowt commented on #1071
Thanks @felixbarny, I came across that ticket but forgot to mention it above - figured this might be covered by that general plan though thought it might be worth a separate issue for searchability.  Also wondered if perhaps depending on the timescales of #919 there might be a way to fix this case sooner.  But I appreciate that by the time I got to the end of writing the ticket, there didn't seem

[2021-03-16 11:19] #1067 closed

[2021-03-16 13:15] #1060 closed

[2021-03-16 13:49] #1022 closed

[2021-03-19 16:09] pypae opened #1075 "FastAPI: Calls to undefined routes result in 500"
**Description**
When using the apm agent with FastAPI, calls to any undefined route results in a 500 internal server error. Without apm, 404 not found is returned correctly.

**To Reproduce**

Run the following simple FastAPI app:
[code]

**Observed behavior**
Calling `http://localhost/bye` results in a 500 internal server error.

**Expected behavior**
Calling  `http://localhost/bye` results in a

[2021-03-22 08:03] #1075 closed

[2021-03-24 15:35] #1024 closed

[2021-03-24 15:35] #1025 closed

[2021-03-24 15:35] #1023 closed

[2021-03-25 07:51] ajay1mg commented on #755
how do I enable this for my application that uses asyncpg based Tortoise ORM?

[2021-03-25 17:45] ajay1mg opened #1080 "Elastic support for aioredis"
**Is your feature request related to a problem? Please describe.**
I am using aioredis in my asyncio based application. aioredis is supported by a similar observability platform like newrelic. Now that I have integrated my app with the aioredis library I don't see the logs instrumentation for it.

**Describe the solution you'd like**
Similar to aiopg and asyncpg, there should be instrumentation fo

[2021-03-28 19:43] Sparkycz commented on #1080
@rafalstapinski was a little faster than me and opened a PR https://github.com/elastic/apm-agent-python/pull/1081 otherwise my commit is ready to process https://github.com/Sparkycz/apm-agent-python/commit/aa6d61a1cc5fcade54d7546a9981a50ca8dc4164 . However, I'm gonna wait on Rafal if he'll finish his PR.. ;-)

[2021-03-29 07:01] Sparkycz commented on #1080
Rafal had closed his PR therefore I opened my one..

[2021-03-31 13:53] beniwohli commented on #1005
Released with 6.1

[2021-03-31 13:53] #1005 closed

[2021-03-31 13:55] beniwohli commented on #972
Prometheus support has been added with version 6.1 of the agent.

[2021-03-31 13:55] #972 closed

[2021-03-31 22:41] bmorelli25 commented on #744
I believe all of this was covered in https://github.com/elastic/apm-server/pull/4475. The documentation lives [here](https://www.elastic.co/guide/en/apm/get-started/current/distributed-tracing.html).

I'll close this, but feel free to reopen if you think content is still missing.

[2021-03-31 22:41] #744 closed

[2021-04-03 20:19] NielkS opened #1085 "How to iterate through children spans from current transaction ?"
**Is your feature request related to a problem? Please describe.**
A common problem of relying on an ORMs is the "N+1 queries" pattern.
To make sure that application performances are fine, I want to add transaction labels with number of spans per type / subtype.

**Describe the solution you'd like**
I think the best way to do that would be in a middleware, at the very end of the transaction execut

[2021-04-04 00:36] namoshizun commented on #685
+1. Some documentation would be of great help. At least that would help people who are googling for APM Celery integrations more quickly find necessary instructions.

[2021-04-07 13:11] #976 closed

[2021-04-07 14:33] KnechtionsCoding opened #1088 "Spans covering calls to DynamoDB fail because Name isn't set"
**Describe the bug**: ...
When making calls to DynamoDB using Boto3 in a flask app the spans don't have a destination name set resulting in an error when posting to the APM server.

**To Reproduce**

1. Create a basic flask app
2. Make a call to dynamoDB
3. Error from APM when shipping spans over

**Environment (please complete the following information)**
- OS: Linux
- Python version: 3.8.5
- Fra

[2021-04-07 14:54] tonyman19 opened #1089 "Botomongo - S3 spans throwing an "validation error: span: context: destination: service: 'name' required""
**Flask Python application doesn't record the SPAN with S3 call**:

**To Reproduce**

1. Flask Application doing S3 call
2. In console you will see the exception `Failed to submit message: 'HTTP 400: {"accepted":3,"errors":[{"message":"validation error: span: context: destination: service: \'name\' required",...`

**Environment (please complete the following information)**
- OS: Linux
- Python ver

[2021-04-08 07:46] beniwohli commented on #1089
@tonyman19 thanks for the heads up! I opened a PR with a fix in #1090. Will do a release ASAP!

[2021-04-08 07:47] beniwohli commented on #1088
@KnechtionsCoding thanks for the heads up! I opened a PR to fix the issue in #1090. I'll release the fix ASAP!

[2021-04-08 08:48] tonyman19 commented on #1089
Reviewed the PR - looks good!

[2021-04-08 09:57] #1088 closed

[2021-04-08 09:57] #1089 closed

[2021-04-08 12:41] beniwohli commented on #1089
@tonyman19 thanks for the review! The fix is released in version 6.1.1 of the agent. Thanks again for the report!

[2021-04-08 12:42] beniwohli commented on #1088
@KnechtionsCoding version 6.1.1 of the agent is now available with a fix for this issue. Thanks again for the report!

[2021-04-08 12:45] KnechtionsCoding commented on #1088
Thanks so much!

[2021-04-09 10:09] asyd commented on #442
Hello folks,

I have similar issue with `elastic-apm` version `6.1.1`.

The agent is working good when using flask server but with uwsgi the application doesn't work at all while I have logs about agent sending metrics to apm-server. Once I hit `Control-C` I have:

[code]

Environment:
* elastic-apm 6.1.1
* Flask 1.1.2
* uWSGI 2.0.19.1

Thanks!

[2021-04-09 20:28] HonzaKral opened #1092 "Root Django URL doesn't appear in the UI when using routes"
**Describe the bug**: `transaction.name` field is missing from the `transcction` document

**To Reproduce**

1. set `DJANGO_TRANSACTION_NAME_FROM_ROUTE` to `True`
2. have url of `path("", TemplateView.as_view(template_name="pages/home.html"), name="home")`
3. ...
4. not profit

**Environment (please complete the following information)**
- OS: Linux
- Python version: 3.8
- Framework and version [e.

[2021-04-11 08:16] ccorbacho opened #1093 "Intermittent Client AttributeError with Django integration"
**Describe the bug**:

We are sometimes seeing this traceback via Sentry coming from the elasticapm agent with the Django integration:

[code]

**To Reproduce**

**Environment (please complete the following information)**
- OS: Linux
- Python version: 3.8.9
- Framework and version [e.g. Django 2.1]: Django 3.1.7
- APM Server version: 7.6
- Agent version: 6.1.1

**Additional context**

There is not

[2021-04-12 07:35] beniwohli commented on #1092
@HonzaKral thanks for the report! I opened a PR that uses the URL name or the function name as fallbacks: https://github.com/elastic/apm-agent-python/pull/1095

[2021-04-12 07:44] ajay1mg opened #1096 "Time spent by span type to show external calls, not group on http"
**Is your feature request related to a problem? Please describe.**
We work on microservice-based architecture where one service might be calling 3-4 other services. All these calls are getting logged in APM span but are grouped under `http`

**Describe the solution you'd like**
If one service is calling 2 other services or some external API calls like google API etc then they must be a part of the

[2021-04-12 07:51] beniwohli commented on #1096
Hey @ajay1mg! Yes, that's right, if an API call is done via HTTP, it generally gets the `http` sub type. There isn't currently a documented way to override this. One option would be to use a [processor](https://www.elastic.co/guide/en/apm/agent/python/master/sanitizing-data.html). You could check the request URL of each span, and replace the sub type with something more fitting if the URL matches

[2021-04-12 09:51] #1092 closed

[2021-04-12 11:59] ajay1mg commented on #1096
@beniwohli I tried changing the value of subtype to the host but it still doesn't work. Here's what I tried:

[code]

I think there's more to it, probably change `context` key which has `http`?
[code]

[2021-04-13 15:30] ccorbacho commented on #1093
From reviewing the Sentry data, this only started after we upgraded the ElasticAPM Python client from 6.0.0 to 6.1.0.

[2021-04-13 19:56] DougDK opened #1098 "AttributeError: 'NoneType' object has no attribute 'config' in Flask Agent"
**Describe the bug**: By using the flask agent and opting to [build the application on the fly](https://www.elastic.co/guide/en/apm/agent/python/current/flask-support.html#flask-building-applications-on-the-fly) an error occurs  **AttributeError: 'NoneType' object has no attribute 'config'**.

**To Reproduce**

1. run the following
[code]

**Environment (please complete the following information)*

[2021-04-14 05:53] process0 commented on #685
Here is a working example.

[code]

[2021-04-14 10:17] ajay1mg commented on #1096
@beniwohli did you get a chance to review this?

[2021-04-14 12:31] #1098 closed

[2021-04-19 12:29] tobiasraabe opened #1103 "Make elastic-apm available via conda-forge."
Hi everybody,

thanks for providing this package. I would like to install elastic-apm via conda, but the package is currently not available. Thus, I started a PR for the conda-forge channel. Would you like to be listed as maintainers?

Maintainer status would allow you to publish new versions. For example, you upgrade the release on PyPI which automatically creates a PR in the conda-forge feedstoc

[2021-04-19 12:53] beniwohli commented on #1103
Hey @tobiasraabe! I haven't used Conda myself yet, but I think it would be great if the agent was installable that way. Thanks for creating the recipe! I'd be happy to be added as a maintainer. @basepi should also be added, but he is currently on PTO, so he'd  not be able to write a confirmatory comment on the github issue for some time. Can we add him on a later date?

[2021-04-19 13:04] tobiasraabe commented on #1103
Sure, we can do that later. I added you as a maintainer. If you could state your consent, I will ask the conda-forge team for a review.

[2021-04-19 13:28] abiral-sijaria commented on #710
I am facing the same issue for elasticapm.contrib.django. It is not working with `pip install elastic-apm`. Can you please tell the workaround here?

[2021-04-19 13:28] abiral-sijaria commented on #710
@beniwohli I am facing the same issue for elasticapm.contrib.django. It is not working with `pip install elastic-apm`. Can you please tell the workaround here?

[2021-04-19 17:05] Riki-1mg opened #1104 "Elastic support for aio-cassandra"
**Is your feature request related to a problem? Please describe.**
I am using aio-cassandra in my asyncio based application. Now that I have integrated my app with the aio-cassandra library I don't see the logs instrumentation for it.

**Describe the solution you'd like**
Similar to aiopg and asyncpg, there should be instrumentation for aio-cassandra as well

**Describe alternatives you've conside

[2021-04-19 19:19] abiral-sijaria opened #1105 "No module named 'elasticapm'"
**Describe the bug**: ...
When I install the package using `pip install elastic-apm`, the elasticapm module is not found in the library. My pip is pointing to `/usr/local/lib/python3.8/site-packages/pip`. When I change this to point at Macpython `/Library/Frameworks/Python.framework`, it works fine. I need to why It is failing since the same is happening inside my Kubernetes pod as well.

**To Rep

[2021-04-21 16:54] Sparkycz commented on #354
I'm adding `http.status_code` and `db.row_affected` but I can't find relevenant field for `_shards.total/failed/successful` in the APM span specification https://github.com/elastic/apm-server/blob/master/docs/spec/v2/span.json
Could you check the APM span specification and suggest me the field mapping please if exists?

Guess the field `took`(response time) is not important because span measures i

[2021-04-22 08:32] Sparkycz commented on #1105
If you want to use Elastic APM agent under the framework Django, follow these instructions https://www.elastic.co/guide/en/apm/agent/python/current/django-support.html

If you want to use the agent out of a framework, follow these instructions https://www.elastic.co/guide/en/apm/agent/python/current/instrumenting-custom-code.html#instrumenting-custom-code-transactions

[2021-04-22 16:34] realabja opened #1110 "trace.id is not available in fastapi exception handler"
**Describe the bug**: We have fastapi framework, and we add apm_client for starlette to the application, we want to generate trace.id to correlate logs when an exception happens. I have structlog package for the logging and import `elasticapm.handlers.structlog.structlog_processor`. We set exception handlers in fastapi application for our excpected handlers and also one for `Exception` class to ca

[2021-04-24 06:35] ajay1mg opened #1111 "Python agent should show database as a dependency, shows up in span"
**Is your feature request related to a problem? Please describe.**
I can see Postgres under **Time spent by span type** graph but it is not shown as a dependency. Rails agent is able to show this as Postgresql

<img width="397" alt="Screenshot 2021-04-24 at 12 03 10 PM" src="https://user-images.githubusercontent.com/36618391/115949791-14edbe80-a4f5-11eb-999a-9b2880460abc.png">

I am using asyncpg=

[2021-04-26 00:26] HonzaKral opened #1112 "Provide Ansible Integration"
**Is your feature request related to a problem? Please describe.**

I would like to track Ansible deployments with Elastic APM, adding a special plugin/role/... that would provide integrations with Elastic APM sounds like the best option.

**Describe the solution you'd like**

Just like there is an easy way to integrate the Python agent with Django and Flask, I would like an integration with Ansib

[2021-04-27 06:40] Niccolum opened #1116 "Support DRF Request in elasticapm.contrib.django.DjangoClient"
**Describe the bug**:
If I use default DjangoClient, user information don't send to ELK. But if I overriding the method capture with
`isinstance(request, (HttpRequest, Request))` - It works fine.

It's because DRF Request don't inherit from HttpRequest, according https://www.django-rest-framework.org/api-guide/requests/#standard-httprequest-attributes

**To Reproduce**

1. Use ApiVIew
2. log infor

[2021-04-27 06:49] Niccolum commented on #1116
I create PR for solve this issue
https://github.com/elastic/apm-agent-python/pull/1117
Please, check

[2021-04-27 08:42] #1111 closed

[2021-04-27 13:46] Niccolum commented on #1116
Thanks for such pretty support, @beniwohli !

[2021-04-27 13:46] #1116 closed

[2021-04-28 09:20] myrodgkim commented on #1093
I got the same error.

## Current setup

OS: Linux Container
Python version: 3.7.7
Framework and version [e.g. Django 2.1]: Django 2.2.16
APM Server version: 7.9.1
Agent version: 6.1.2

Additionally, Transaction metadata doesn't show **service.framework.name** and **service.framework.version** and **User** and etc.

## Working setup (before upgrading to 6.1.2)

I was using agent 5.8.0. it worked f

[2021-04-28 15:58] #990 closed

[2021-04-29 14:03] #1080 closed

[2021-04-29 14:48] lucabelluccini opened #1124 "The set_custom_context API attaches contexts only to transactions"
**Describe the bug**:

When using `set_custom_context` API, as per [documentation](https://www.elastic.co/guide/en/apm/agent/python/master/api.html#api-set-custom-context), the expectation is to be able to attach custom data to a `Transaction` or to an `Error`.

From the [code](https://github.com/elastic/apm-agent-python/blob/4d125e6f554a85b84085ddcf1fb783bc7228922c/elasticapm/traces.py#L848), it

[2021-05-02 10:48] #754 closed

[2021-05-02 15:09] AndreiPashkin opened #1126 "OpenTracing binding ignores start_time argument"
OpenTracing specs allow passing explicit timestamps when starting new spans, but in the OT binding  the APM agent this argument is being ignored:
https://github.com/elastic/apm-agent-python/blob/9b360e0c466974df974f5da4f0e34af0735a9942/elasticapm/contrib/opentracing/tracer.py#L79

This issue addressed in this PR already: #824

[2021-05-03 11:13] eecarres opened #1127 "Replicate transaction ignore pattern for spans"
**Is your feature request related to a problem? Please describe.**
We currently use APM for different web services we have. But in order to use the same stack and observability tool, we introduced APM into a heavy image processing pipeline. Each job is a transaction, and we consider spans each of the stages of the pipeline (so we can have all linked and the data "has sense"). The problem we face i

[2021-05-03 13:29] felixbarny commented on #1127
We're currently thinking about how to make the handling of [huge trace more efficient](https://github.com/elastic/apm/issues/432).

What kind of spans are these? Are these calls to Redis? Or maybe calls to a relational DB? If so, is the statement always the same or do they differ? What's the typical duration of these spans?

We plan to de-duplicate DB spans with the same statement and group fast s

[2021-05-03 14:11] eecarres commented on #1127
It's a mixture of web requests to our own servers and direct DB calls. They're usually the same statements but repeated as many times as images we need to get info from, or update that information. I'd say 95% are below one second, but the whole pipeline (the transaction in our case) can last 2 days or even more.

The solutions you're working on seem promising! I would like just to remove all of t

[2021-05-05 19:41] ccorbacho commented on #1093
My suspicion is that the changes in https://github.com/elastic/apm-agent-python/pull/1043 are the root cause of this bug.

The old implementation of elasticapm.contrib.django.get_client() before this change was much more defensive, and would check if the cached object was of the expected type passed in (i.e. DjangoClient), and replace it if it was not.

In the PR above, that has been refactored so

[2021-05-06 13:58] felixbarny opened #1128 "Reduce default stack_trace_limit from 500 to 50"
Looking through the [config docs](https://docs.google.com/spreadsheets/d/1JJjZotapacA3FkHc2sv_0wiChILi3uKnkwLTjtBmxwU/edit#gid=0&range=A63), all other agents set the default limit to 50.

Setting a modest limit for the stack traces is important for APM Server to avoid out of memory issues when the in-memory queue fills up. The APM Server's queue size is measured in the number of events, not bytes.

[2021-05-07 09:33] Sparkycz commented on #1110
Generally, the problem is ordering the middlewares in Starlette.
https://github.com/encode/starlette/blob/master/starlette/applications.py#L83

ElasticAPM middleware is a "user middleware". The middlewares in Starlette are like wrappers over wrappers.

the ordering by response/exception processing is:

0. Endpoint method controlled by decorators `@app.post(..)`, `@app.get(..)`,..
1. `ExceptionMidd

[2021-05-07 09:37] Sparkycz commented on #1128
[good first issue](https://github.com/elastic/apm-agent-python/issues?q=is%3Aissue+is%3Aclosed+label%3A%22good+first+issue%22 ) label? :-)

[2021-05-11 03:48] strongbugman opened #1130 "RemovedInDjango41Warning"
**Describe the bug**: ...

[code]

**To Reproduce**

1. run unit test or start server

**Environment (please complete the following information)**
- OS: Linux/MacOS
- Python version:3.8.2
- Framework and version: Django 3.2.2
- APM Server version: *
- Agent version: 6.1.3

[2021-05-12 18:25] Syniex opened #1131 "Crash on starlette middleware in mount endpoints (StaticFiles)"
**Describe the bug**: Elastic middleware crash on access to static files

**Environment (please complete the following information)**
- OS: [e.g. Linux]
- Python version: 3.9.4
- Framework and version [e.g. Django 2.1]: FastAPI
- APM Server version: 7.12.1
- Agent version: 7.12.1

[code]

The issue is happens when elastic running the function _get_route_name.
the middleware will try to loop over t

[2021-05-12 18:38] Syniex commented on #1131
[Starlette#1182](https://github.com/encode/starlette/issues/1182#issue-890379365)

[2021-05-18 06:31] acnebs commented on #1131
Seems like this was introduced in this commit: https://github.com/elastic/apm-agent-python/commit/a5e66603254bb9b126172a233b50be5cb88d9949#diff-e15c015370e75a124090c9f0ca4d6f3e015f87b2b0b2f2f1081efd0622ab448e

[2021-05-19 14:00] Sparkycz commented on #1131
https://github.com/elastic/apm-agent-python/blob/master/elasticapm/contrib/starlette/__init__.py#L238
`if isinstance(route, Mount):` -> `if isinstance(route, Mount) and route.routes:` and add tests.

[2021-05-19 14:06] riccardomassullo commented on #685
Elasticsearch version 7.12 and APM 7.12

Until we added the `instrument()` call, no useful data was sent to us.
Following the answer in this thread https://discuss.elastic.co/t/running-apm-for-standalone-celery/158693/2 worked for us.

So, from the linked thread, a working example:
[code]

[2021-05-19 19:58] philipp-sontag-by opened #1133 "Cloud metadata collection is leaking sockets"
When collecting the meta data information from cloud providers a socket connection is opened but not closed. This causes `ResourceWarnings` when running pytest. The issue seems to be the socket that is opened [here](https://github.com/elastic/apm-agent-python/blob/master/elasticapm/utils/cloud.py#L138).

**To Reproduce**
Create a file `test.py` with the following content:

[code]

Run the tests wi

[2021-05-20 05:45] beniwohli commented on #1133
Hey @philipp-sontag-by! Great catch! I opened #1134 with a fix.

[2021-05-20 10:47] #1133 closed

[2021-05-25 11:54] #828 closed

[2021-05-27 13:01] thomasklinger1234 opened #1140 "Add span modifier for AWS SNS"
**Is your feature request related to a problem? Please describe.**
Currently, only calls to AWS SQS are enriched with span context as of https://github.com/elastic/apm-agent-python/blob/master/elasticapm/instrumentation/packages/botocore.py#L212. SNS is missing, despite a comment that it is handled also specially. However, it is not available through the span modifiers variable so I assume that th

[2021-05-28 08:43] #1140 closed

[2021-05-28 08:50] thomasklinger1234 commented on #1140
Thanks, my version was a little behind :)

[2021-06-02 10:28] beniwohli commented on #1103
Closing this as elastic-apm is now available on Conda

[2021-06-02 10:28] #1103 closed

[2021-06-04 08:20] cuber3x3 opened #1146 "I[#/name] S[#/allOf/1/properties/name/type] expected string or null, but got array"
Hi,

I'm randomly getting this error in my logs :

Failed to submit message: 'HTTP 400: {"accepted":7,"errors":[{"message":"failed to validate transaction: error validating JSON: I[#] S[#] doesn\'t validate with \\"transaction#\\"\\n  I[#] S[#/allOf/1] allOf failed\\n    I[#/name] S[#/allOf/1/properties/name/type] expected string or null, but got array"

I'm not sure what allOf/1/properties/name/t

[2021-06-04 11:30] simbs opened #1147 "AttributeError: 'Config' object has no attribute 'start_stop_order'"
# Error
We started seeing this traceback via Sentry coming from the elasticapm agent with the Django integration after upgrading from 6.1.3 to 6.2.0:

[code]

# Environment

OS: Linux
Python version: 3.8.9
Framework and version [e.g. Django 2.1]: Django 3.1.10
APM Server version: 7.6
Agent version: 6.2.0

# Additional context

I think the bug was introduced in https://github.com/elastic/apm-agent-

[2021-06-04 14:38] AhmadMS1988 opened #1148 "APM HTTP request information missing"
**Describe the bug**: ...
The request information like url.path and other information like headers and cookies are not found like what we were having in older elastic-apm version.

![Screen Shot 2021-06-03 at 8 49 58 PM](https://user-images.githubusercontent.com/33055837/120817275-3f9e4e80-c55a-11eb-8283-a89ca6fb4198.png)

**Environment (please complete the following information)**
- OS: container

[2021-06-07 08:32] beniwohli commented on #1147
Hey @simbs, great catch and great analysis of the problem! I'll get a fix shipped ASAP

[2021-06-07 09:16] beniwohli commented on #1147
The fix is in #1149. It turned out to be slightly more complicated. The bug wasn't in `VersionedConfig.__getattr__`, but in the fact that we forgot to add `start_stop_order` to `VersionedConfig.__slots__`. We exclude attributes in `__slots__` from being proxied to the underlying `Config` object in `VersionedConfig.__setattr__`.

So what happened was that when `ThreadManager.__init__()` sets the `s

[2021-06-07 09:24] beniwohli commented on #1146
Hi @cuber3x3. The message indicates that the name of a transaction was set to be an array instead of a string somewhere. Do you use [`elasticapm.set_transaction_name()`](https://www.elastic.co/guide/en/apm/agent/python/current/api.html#api-set-transaction-name) somewhere in your code? If not, what framework do you use the agent with? E.g. Django, Flask, ...

[2021-06-07 09:30] beniwohli commented on #1148
Hi @AhmadMS1988! Could you try and see if the information is there using version 6.1.2 of the agent? That would probably mean that #1117 introduced the bug

[2021-06-07 11:25] #1147 closed

[2021-06-07 11:39] AhmadMS1988 commented on #1148
@beniwohli thank you for your response.
I have tried every version down to 6.1.0 and did not work.
only 6.0.0 and below are working.
<img width="1745" alt="Screen Shot 2021-06-07 at 1 38 41 PM" src="https://user-images.githubusercontent.com/33055837/121008211-6c8d7400-c79b-11eb-9364-dd94d4718761.png">

[2021-06-07 13:51] odidev opened #1151 "Add support to release aarch64 wheels"
Problem
---------
On aarch64, ‘pip install elastic-apm’ builds the wheels from source code and then installs it. It requires the user to have a development environment installed on his system. Also, it takes more time to build the wheels than downloading and extracting the wheels from pypi.

Resolution
-----------
On aarch64, ‘pip install elastic-apm’ should download the wheels from pypi
 @beniwoh

[2021-06-07 13:58] beniwohli commented on #1151
Hi @odidev! Yes, that would be great! We use cibuildwheel to build binary wheels. cibuildwheel [does support](https://cibuildwheel.readthedocs.io/en/stable/faq/#emulation) building for aarch64 using qemu.

We run cibuildwheel on our own Jenkins installation, not on e.g. Github Actions (like the cibuildwheel examples). We'd need to ensure that qemu is available on the machine. I'll check with our J

[2021-06-07 14:11] elastic-apm-tech opened #1152 "[META 432] Implement compressed spans algorithm"
Implement the compressed spans algorithm in the agent as described in https://github.com/elastic/apm/issues/432.

[2021-06-07 14:27] AlexanderWert opened #1153 "Prefer w3c traceparent header"
As described in https://github.com/elastic/apm/pull/442 W3C traceparent header should be preferred over the proprietary traceparent header.

[2021-06-07 14:33] beniwohli commented on #1153
I think this is already the case, but we probably need tests that explicitly check the preference

[2021-06-07 15:48] beniwohli commented on #1147
@simbs version 6.2.2 of the agent should fix this issue! Thanks again for reporting it!

[2021-06-08 09:00] beniwohli commented on #1130
Hi @strongbugman! I opened #1155 to address this. Thanks for opening the bug report!

[2021-06-08 14:02] beniwohli commented on #1093
Hey @ccorbacho and @myrodgkim, thanks for reporting this issue, and sorry about the slow reply! I think your analysis is spot on!

One of the places where we may instantiate another agent is `elasticapm.handlers.logging.LoggingHandler` and `elasticapm.contrib.django.handlers.LoggingHandler`. Are you per chance using one of those in your logging setup? If yes, would you mind posting your (redacted)

[2021-06-08 14:08] ajaygupta2790 opened #1157 "Issues with aioredis instrumentation"
**Describe the bug**: ...

aioredis instrumentation doesn't work with elastic-apm==6.2.2. The APM dashboard is not able to show it as dependency or in traces. I am using aioredis==1.2.0

**Environment (please complete the following information)**
- OS: [e.g. Linux] - MacOs Catalina
- Python version: 3.7.2
- Framework and version [e.g. Django 2.1]: aiohttp
- APM Server version: 7.13
- Agent version

[2021-06-08 14:09] beniwohli commented on #1148
@AhmadMS1988 I have a hunch that this is something similar to what was reported in #1093. It's possible that somewhere, a new client instance is created, that isn't a `DjangoClient`, but a bare `Client` instance, which lacks the Django-specific methods to collect request data.

Do you per chance use `elasticapm.handlers.logging.LoggingHandler` and/or `elasticapm.contrib.django.handlers.LoggingHand

[2021-06-08 14:12] ajaygupta2790 commented on #1157
another issues with this intrumentation is that it will show `RedisConnection.execute` in trace sample. It should provide more information on kind of method it ran like get, set, incrby etc

[2021-06-08 14:22] AhmadMS1988 commented on #1148
Unfortunately no, but how can I enable this and where to get the output?
Also, in apache error, I have no exception.

[2021-06-08 15:12] beniwohli commented on #1093
I pushed a small change to a branch (#1158) that logs the stack trace when the client is set more than once. This could help debugging where the "naked" `Client` instance is created. You can install it by running something like

    pip install https://github.com/beniwohli/apm-agent-python/archive/refs/heads/log-set_client-with-stack.zip\#egg\=elastic-apm\=\=100

It's logged at `DEBUG` level, usin

[2021-06-08 19:17] ccorbacho commented on #1093
@beniwohli In settings.py we do the following:

`LOGGING['loggers']['elasticapm'] = {'handlers': ['console'], 'level': 'INFO', 'propagate': False}`

[2021-06-09 05:47] elastic-apm-tech opened #1159 "[META 448] Auto-infer destination.service.resource and adapt public API"
As described in https://github.com/elastic/apm/issues/448, the agent needs to apply the following changes to comply with the current SPEC for destination fields:

- [ ] Infer destination.service.resource based on other fields
- [ ] Add a public API to set destination.service.resource
- [ ] As destination.service.name and destination.service.type are not used anywhere in the product, I propose to d

[2021-06-09 05:52] AlexanderWert commented on #1069
Replaced by https://github.com/elastic/apm-agent-python/issues/1159

[2021-06-09 05:52] #1069 closed

[2021-06-09 07:09] AhmadMS1988 commented on #1148
after enabling apm logging I found the following traceback:

`during timing of request#012Traceback (most recent call last):#012 File "/var/python/venv/lib64/python3.7/site-packages/elasticapm/contrib/django/middleware/__init__.py", line 182, in process_response#012 lambda: self.client.get_data_from_request(request, constants.TRANSACTION), "request"#012 File "/var/python/venv/lib64/python3.7/site-

[2021-06-09 07:48] #1153 closed

[2021-06-09 07:56] beniwohli commented on #1148
Hey @AhmadMS1988! That's helpful, as it confirms that this is indeed the same problem as reported in #1093.

I pushed a small change to a branch (#1158) that logs the stack trace when the client is set more than once. This could help debugging where the "naked" `Client` instance is created. You can install it by running something like

    pip install https://github.com/beniwohli/apm-agent-python/

[2021-06-09 14:06] jwhite3 opened #1160 "Starlette/FastAPI python agent setup examples result in TypeError"
When following the [example](https://www.elastic.co/guide/en/apm/agent/python/current/starlette-support.html#starlette-fastapi) of setting up the Elastic APM agent with python + FastAPI, we find that we can't use `make_apm_client` as described as it has a required positional argument, `config`. The documentation however says that we should be able to call `make_apm_client` with no arguments and in

[2021-06-09 15:03] beniwohli commented on #1160
Hi @jwhite3! Thanks for opening the issue, this is indeed a bug. I opened #1161 to address it.

[2021-06-09 15:15] beniwohli opened #1162 "Add setting to ignore certifi if it's available"
**Is your feature request related to a problem? Please describe.**
In some cases, it would be useful to tell the agent to ignore `certifi` and fall back to the certificate store provided by the operating system.

**Describe the solution you'd like**
A setting that tells the agent to not use certifi.

- [x] implement new config option
- [x] add public docs for this new config option

[2021-06-09 16:27] AhmadMS1988 commented on #1148
The attached logs are extracted using filebeat when enabling DEBUG level, using the elasticapm logger
[Uploading apm-logs (1).csv…]()

[2021-06-09 17:35] jwhite3 commented on #1160
Awesome, thanks @beniwohli

[2021-06-09 17:58] beniwohli commented on #1148
@AhmadMS1988 I think I see the problem. In `announcement/components/sqs_component.py`, line 33, you instantiate a new APM client instance. Can you instead try do something like this:

    import elasticapm
    self.apm_client = get_client()

That should avoid that the initial Django-specific APM client is replaced with a non-specific APM client.

[2021-06-09 18:05] #1130 closed

[2021-06-09 20:56] AhmadMS1988 commented on #1148
Brilliant, and worked as expected.
Thank you for your help :)

[2021-06-09 20:56] #1148 closed

[2021-06-10 08:00] #1160 closed

[2021-06-10 15:54] basepi commented on #1071
Sorry for the slow reply here but I think we are going to close this as a dupe of #919. As you pointed out, there's not obvious quick fix here and if we're going to spend time, it will be to bring things in line with the cross-agent spec defined in #919.

[2021-06-10 15:54] #1071 closed

[2021-06-10 16:01] basepi commented on #1085
I don't think this is a data model change that we're going to make. A transaction can have unlimited spans attached to it, and tracking them in the transaction object could be costly, when on the Elasticsearch end it's trivial to query out all spans that are tied to a given transaction.

It's possible that this could be a useful feature in Kibana. You might consider opening an issue over in https:

[2021-06-10 16:01] #1085 closed

[2021-06-10 16:17] basepi commented on #1105
Hey @abiral-sijaria, I'm going to close this since we never heard back from you. Please comment if you still need help!

[2021-06-10 16:17] #1105 closed

[2021-06-10 17:48] basepi commented on #1127
I'm going to close this for now, banking on https://github.com/elastic/apm/issues/432 being the best generalized solution for this type of problem. Hopefully you found processors helpful in the meantime!

[2021-06-10 17:48] #1127 closed

[2021-06-11 07:23] ccorbacho commented on #1093
@beniwohli I got to the bottom of this on our side, using your debug package to find the problem.

It was a bug in our code - we had a decorator for non-Django code, that instantiated a Client object, and that wasn't checking that the global ElasticAPM Client object existed. With the old version of ElasticAPM, this was just working because the old get_client() behaviour would see the wrong type an

[2021-06-11 07:23] #1093 closed

[2021-06-14 09:19] beniwohli commented on #1093
@ccorbacho thanks for the update! I opened a PR to bump the log level (#1164).

[2021-06-14 15:22] basepi opened #1166 "Public API for metrics"
We should create some public API interfaces for dealing with metrics.

Currently, to create a histogram metric, a user has to fetch the Client object and then do something like this:

[code]

Since we're moving away from dealing directly with the Client object where possible, we can condense this down to a single public API call that abstracts most of the details away.

[2021-06-14 15:48] basepi commented on #1070
Spans are only created [if the parent transaction is sampled](https://github.com/elastic/apm-agent-python/blob/8387a7d89aca43916e92e82810324890579f7a2d/elasticapm/traces.py#L690). Can you try grabbing the actual transaction object using `execution_context` like in the linked code, and check if it's set to be sampled?

[2021-06-14 16:51] alex-fedotyev commented on #1096
Hi @ajay1mg !
We started showing "service-to-service" and "service-to-backend" performance metrics broken down by destination.
This was introduced in a service overview page, it looks similar to this:
![image](https://user-images.githubusercontent.com/61838744/121928890-795b1c00-ccf5-11eb-9f28-d2650ab89ba6.png)

This isn't available per transaction view though, at least for now.

More details can

[2021-06-17 08:46] cuber3x3 commented on #1146
Hello @beniwohli thank you so much, indeed I forced the transaction name to string and didn't have the error anymore.
However I can't see any funky transaction names in Kibana's APM, so not sure what was causing this and why it's not appearing in the transactions name list..
Anyway, that's great not to have the logs clogged by these messages anymore, thanks !

[2021-06-17 08:46] #1146 closed

[2021-06-17 09:10] beniwohli commented on #1146
@cuber3x3 great to hear that you managed to solve it! The reason why you don't see any weird names in the transaction list is that the APM Server discarded those transactions as they wouldn't fit into the given schema.

We could however try and force the name to string in `set_transaction_name()` to avoid this from happening to other users going forward. I'll open an issue for that.

[2021-06-17 09:14] beniwohli opened #1167 "Force transaction name in `set_transaction_name` to string"
**Describe the bug**:

When providing a non-string value to `elasticapm.set_transaction_name()`, APM Server discards the transaction.

To avoid this, we should try and force the value to a string, raising a warning if it isn't possible.

**To Reproduce**

1. start a transaction
2. call `elasticapm.set_transaction_name(["a list"])`
3. transaction fails schema validation

**Environment (please compl

[2021-06-21 01:14] HonzaKral opened #1169 "DroppedSpan causing AttributeError"
**Describe the bug**: celery tasks are now failing with attribute errors caused by APM

**Environment (please complete the following information)**
- OS: Linux
- Python version: 3.8.5
- Framework and version [e.g. Django 2.1]: Django 3.2.3, Celery 5.0.5
- APM Server version: 7.13
- Agent version: 6.2.2

Could be related to #468

Traceback:
[code]

[2021-06-21 10:30] beniwohli commented on #1169
Hey @HonzaKral! Great catch, I opened #1170 with a fix (and took the opportunity to also close some gaps in testing the SQS instrumentation).

[2021-06-22 12:12] #1169 closed

[2021-06-24 14:04] basepi opened #1172 "Fix for Starlette 0.15.0"
Tests are failing.

From the Changelog:

[2021-06-24 15:36] basepi opened #1173 "R&D: OpenTelemetry instrumentations"
Can we utilize any of the work going on in the OpenTelemetry python world to bridge some gaps in our instrumentations?

[2021-06-29 15:00] #354 closed

[2021-06-30 11:16] odidev commented on #1151
@beniwohli, Could you please let me know if you got any chance to look into this.

[2021-06-30 11:48] nourwolf commented on #1131
I get the same error when mounting a prometheus's ASGI app to `/metrics` endpoint. The app has no routes as it is a simple function that returns some payload.

[2021-06-30 12:51] beniwohli commented on #1151
@odidev our CI/Jenkins team had a lot of work on their plate, but they prioritized this issue now.

[2021-06-30 14:36] bjoern-meier-by commented on #1131
Hi, we just hit this issue as well when mounting static files for e.g. the swagger UI and would be interested if the work on the the open PR is still ongoing as the apm client now breaks our app and we did not find a workaround so far.

[2021-06-30 16:37] bvader commented on #1131
Hiya, @Sparkycz  Any Updates on this? I have a customer eagerly awaiting this as well...the PR seems stalled?

[2021-06-30 16:45] basepi commented on #1131
The PR is waiting on me. We have some upstream test failures caused by the new version of `aiopg`, which I'm working to fix here: https://github.com/elastic/apm-agent-python/pull/1178

Once that's merged we should be able to get #1137 passing and merged. Thanks for your patience.

[2021-06-30 23:09] #1131 closed

[2021-07-01 15:17] basepi commented on #428
We're going to try to get an MVP of this going soon -- it will not be using lambda extensions initially, but will just be sending directly to the configured APM server from the lambda function itself. We know this will not be useful in all cases as the overhead will be dramatic, especially for short-running lambda functions. But it will be a first step toward a better implementation using extensio